<h1> Personal Information </h1>
  <%= f.input :first_name%>
  <%= f.input :last_name %>
  <%= f.input :street_address %>
  <%= f.input :apt_no%>
  <div class='form-group'>
    <%= label_tag 'postal_code', 'Postal Code'%>
    <input class="form-control string required" type="text" value="<%= current_user.postal_code%>" disabled="true">
  </div>
  <%= f.input :city%>
  <%= f.input :home_phone%>
  <%= f.input :cell_phone%>
  <%= f.input :date_of_birth%>
  <%= f.input :language%>
  <%= f.input :work%>
  <%= f.input :legal_to_work, as: :select, collection: option_with_na, label: 'Are you legally able to work in Canada? (Have SIN or applied for it)'%>

  <%= f.check_box :apartment %>Apartment:
  <div id = "apartment">
    <%= f.input :floor%>
    <%= f.input :condo, as: :select, collection: choose_option, label: '*If Apartment, is this a Condo?'%>
  </div>


  <%#= f.input :house%>
  <%= f.check_box :house %>House:
  <div id = "house">
    <%= f.input :basement_premises, as: :select, collection: choose_option, label: 'Is child care space in the basement of the premises?'%>
    <%= f.input :basement_premises, as: :select, collection: choose_option, label: '*Are there two exits?'%>
  </div>

  <div class='form-group'>
    <%= f.label :home_smoke, '*Smoking in home:' %>
    <%= f.select :home_smoke, options_for_select(choose_option), class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :pet, '*Pets in home?' %>
    <%= f.select :pet, options_for_select(choose_option), class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :vaccine, '*Vaccinations are current?' %>
    <%= f.select :vaccine, options_for_select(option_with_na), class: 'form-control' %>
  </div>

  <h4> CHILDREN IN HOME: </h4>
  <div id='children'>
    <%= f.simple_fields_for :children do |child| %>
      <%= render 'child_fields', :f => child %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add child', f, :children %>
    </div>
  </div>


<div class="form-group">
  <%= f.label :goal, 'GOAL:'%>
  <%= f.text_field :goal, class: 'form-control'%>
</div>

<div class='form-group'>
  <%= f.label :age_range, '*Age range you want to have?' %>
  <%= f.text_field :age_range, class: 'form-control' %>
</div>
<div class='form-group'>
  <%= f.label :local_school, '*Are you willing to take children to local schools?' %>
  <%= f.select :local_school, options_for_select(choose_option), class: 'form-control' %>
</div>
<div class='form-group'>
  <%= f.label :school_name, '*Name of School(s):' %>
  <%= f.text_area :school_name, class: 'form-control' %>
</div>
<div class='form-group'>
  <%= f.label :comments, '*Comments' %>
  <%= f.text_area :comments, class: 'form-control' %>
</div>

