<h1> Personal Information </h1>
  <%= f.input :first_name%>
  <%= f.input :last_name %>
  <%= f.input :street_address %>
  <%= f.input :apt_no%>
  <%= f.input :postal_code%>
  <div class='form-group'>
    <%= label_tag 'postal_code', 'Postal Code'%>
    <input class="form-control string required" type="text" value="<%= current_user.postal_code%>" disabled="true">
  </div>
  <%= f.input :city%>
  <%= f.input :home_phone%>
  <%= f.input :cell_phone%>
  <%= f.input :date_of_birth, input_html: {class: 'dob custom-dob'}%>
  <%= f.input :language%>
  <%= f.input :work%>
  <%= f.input :legal_to_work, :as => :select, :label => 'Are you legally able to work in Canada? (Have SIN or applied for it)', :collection => option_with_na, include_blank: false, include_hidden: false %>

  <%= f.input :apartment, inline_label: 'Apartment:' %>
  <div id = "apartment">
    <%= f.input :floor%>
    <%= f.input :condo, as: :select, label: '*If Apartment, is this a Condo?', collection: choose_option, include_blank: false, include_hidden: false %>
  </div>

  <%= f.input :house, inline_label: 'House:' %>
  <div id = "house">
    <%= f.input :basement_premises, as: :select, label: 'Is child care space in the basement of the premises?', collection: choose_option, include_blank: false, include_hidden: false %>
    <%= f.input :two_exit, as: :select, label: '*Are there two exits?', collection: choose_option, include_blank: false, include_hidden: false %>
  </div>
  <%= f.input :home_smoke, as: :select, label: '*Smoking in home:', collection: choose_option, include_blank: false, include_hidden: false %>

  <%= f.input :pet, as: :select, label: '*Pets in home?', collection: choose_option, include_blank: false, include_hidden: false %>

  <%= f.input :vaccine, as: :select, label: '*Vaccinations are current?', collection: option_with_na, include_blank: false, include_hidden: false %>

  <h4> CHILDREN IN HOME: </h4>
  <div id='children'>
    <%= f.simple_fields_for :children do |child| %>
      <%= render 'child_fields', :f => child %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Add child', f, :children %>
    </div>
  </div>

  <%= f.input :goal, label: 'GOAL:' %>
  <%= f.input :age_range, label: 'Age range you want to have?' %>
  <%= f.input :local_school, as: :select, label: '*Are you willing to take children to local schools?', collection: choose_option, include_blank: false, include_hidden: false %>

  <%= f.input :school_name, label: 'Name of School(s):' %>
  <%= f.input :comments, label: 'Comments' %>

