<div class="teacher-show-profile">
  <h1>teacher profile </h1>
  <h2> PERSONAL INFORMATION: </h1>

    <div class='form-group'>
      <%= label_tag 'first_name', 'First Name'%> <%= @teacher_profile.first_name%>
    </div>

    <div class='form-group'>
      <%= label_tag 'last_name', 'last Name'%> <%= @teacher_profile.last_name%>
    </div>

    <div class='form-group'>
      <%= label_tag 'street_address', 'Street Address'%> <%= @teacher_profile.street_address%>
    </div>

    <div class='form-group'>
      <%= label_tag 'apt_no', 'Apt#'%> <%= @teacher_profile.apt_no%>
    </div>

    <div class='form-group'>
      <%= label_tag 'postal_code', 'Postal Code'%> <%= current_user.postal_code%>
    </div>

    <div class='form-group'>
      <%= label_tag 'city', 'City'%> <%= @teacher_profile.city%>
    </div>

    <div class='form-group'>
      <%= label_tag 'home_phone', 'Home Phone'%> <%= @teacher_profile.home_phone%>
    </div>

    <div class='form-group'>
      <%= label_tag 'cell_phone', 'Cell Phone'%> <%= @teacher_profile.cell_phone%>
    </div>

    <div class='form-group'>
      <%= label_tag 'date_of_birth', 'Date of Birth'%> <%= @teacher_profile.date_of_birth%>
    </div>

    <div class='form-group'>
      <%= label_tag 'language', 'Languages Spoken'%> <%= @teacher_profile.language%>
    </div>

    <div class='form-group'>
      <%= label_tag 'work', 'ABILITY TO WORK'%> <%= @teacher_profile.work%>
    </div>

    <div class='form-group'>
      <%= label_tag 'legal_to_work', 'Are you legally able to work in Canada? (Have SIN or applied for it):'%> <%= TeacherProfile::OPTION_WITH_NA[@teacher_profile.legal_to_work]%>
    </div>

    <h1> PREMISES: </h1>
    <div class='form-group'>
      <%= label_tag 'apartment', 'Apartment:'%> <%= @teacher_profile.apartment%>
    </div>

    <div class='form-group'>
      <%= label_tag 'floor', 'If Apartment, what floor?'%> <%= @teacher_profile.floor%>
    </div>

    <div class='form-group'>
      <%= label_tag 'condo', 'If Apartment, is this a Condo?'%> <%= @teacher_profile.condo%>
    </div>

    <div class='form-group'>
      <%= label_tag 'house', 'House'%> <%= @teacher_profile.house%>
    </div>

    <div class='form-group'>
      <%= label_tag 'basement_premises', 'Is child care space in the basement of the premises?'%> <%= @teacher_profile.basement_premises%>
    </div>

    <div class='form-group'>
      <%= label_tag 'two_exit', 'Are there two exits?'%> <%= @teacher_profile.two_exit%>
    </div>

    <div class='form-group'>
      <%= label_tag 'home_smoke', 'Smoking in home:'%> <%= @teacher_profile.home_smoke %>
    </div>

    <div class='form-group'>
      <%= label_tag 'pet', 'Pets in home?'%> <%= @teacher_profile.pet %>
    </div>

    <div class='form-group'>
      <%= label_tag 'vaccine', 'Vaccinations are current?'%> <%= TeacherProfile::OPTION_WITH_NA[@teacher_profile.vaccine]%>
    </div>

    <div class="form-group">
      <%= label_tag 'goal', 'GOAL:'%> <%= @teacher_profile.goal %>
    </div>

    <div class='form-group'>
      <%= label_tag 'age_range', 'Age range you want to have?'%> <%= @teacher_profile.age_range %>
    </div>
    <div class='form-group'>
      <%= label_tag 'local_school', 'Are you willing to take children to local schools?'%> <%= @teacher_profile.local_school %>
    </div>
    <div class='form-group'>
      <%= label_tag 'school_name', 'Name of School(s):'%> <%= @teacher_profile.school_name %>
    </div>
    <div class='form-group'>
      <%= label_tag 'comments', 'Comments:'%> <%= @teacher_profile.comments %>
    </div>
</div>