<div class="new-school-page-wrapper">
  <div class="new-image-hero">
    <div class="new-image-hero-image" style="background-image: url(&quot;https://www.wonderschool.com/images/school/school-profile-top.jpg&quot;);"></div>
    <div class="new-image-hero-content">
      <div class="new-hero-module-hero-3-uYE">
        <div class="new-hero-module-constraint-3CioB">
          <h1 class="new-Hero-module-title-2P-GS">Little Sunflower Learning Center</h1>
          <p class="new-hero-module-subtitle-3tmqs">A creative, fun and loving 'home away from home' for little ones</p>
          <!-- <p class="new-hero-module-subtitle-3tmqs">Coming Soon Summer 2018</p> -->
          <div class="new-hero-module_inquiry-button-2NVd5">
            <div class="inline_three_tabs">
          <% if @teacher_profile.tour %>
            <div class="link_default_color">
              <% if current_user%>
                <%= link_to  request_info_teacher_profile_path(@teacher_profile, status: "login"), class: '', remote: true  do %>
                  <div class="Hero-module_onsiteSpotlight_C5i2Z">
                    <div class="OnsiteSpotlight">
                      <div class="OnsiteSpotlight-ctaList">
                        <div class="OnsiteSpotlight-ctaListItem">
                          <div>
                            <div class="OnsiteSpotlight-cta">
                              <div class="OnsiteSpotlight-ctaIcon">
                                <div class="SVGResponsive SVGResponsive--layoutWidthConstrained" style="padding-bottom: 104.545%;">
                                  <svg class="SVGResponsive-svg" viewBox="0 0 22 23" aria-labelledby="tidb5358cd9-fd0c-46c3-81a5-7b8969292598 " xmlns="http://www.w3.org/2000/svg">
                                    <title id="tidb5358cd9-fd0c-46c3-81a5-7b8969292598">Tour</title>
                                    <g fill="none" fill-rule="evenodd">
                                      <g transform="translate(.5 3.75)">
                                        <path fill="#28325A" d="M10.468 4.73C9.08 4.461 7.88 3.827 7.11 2.542a1.106 1.106 0 0 0-.386-.39c-.403-.458-1.042-.773-1.809-.842a2.632 2.632 0 0 0-1.056.12c-.119.017-.24.05-.365.12C1.736 2.505.565 4.142.044 6.14c-.364 1.393 1.642 2.185 2.009.784.123-.478.288-.927.495-1.343l-.063 3.51c-.001.021.004.04.004.058l-.012.655-.13 3.274-.28 4.096c-.002.103.02.2.06.29-.008.452.398.81.91.818.51.005.931-.342.94-.778l.545-5.387.096-.799.226.004.263 3.195.18 2.774c-.003.12.03.233.083.335.088.352.449.621.889.627.513.005.931-.343.94-.779l-.132-4.101-.01-3.276.01-.544.073-3.825a6.994 6.994 0 0 0 2.758 1.178c.296.056.65-2.16.57-2.176z"></path>
                                      </g>
                                      <path fill="#28325A" d="M6.907 2.625c0 1.036-.798 1.875-1.78 1.875-.983 0-1.78-.84-1.78-1.875 0-1.036.797-1.875 1.78-1.875.982 0 1.78.839 1.78 1.875z"></path>
                                      <g>
                                        <g transform="matrix(-1 0 0 1 21.094 4.018)">
                                          <path fill="#5196CB" d="M10.468 4.73C9.08 4.461 7.88 3.827 7.11 2.542a1.106 1.106 0 0 0-.386-.39c-.403-.458-1.042-.773-1.809-.842a2.632 2.632 0 0 0-1.056.12c-.119.017-.24.05-.365.12C1.736 2.505.565 4.142.044 6.14c-.364 1.393 1.642 2.185 2.009.784.123-.478.288-.927.495-1.343l-.063 3.51c-.001.021.004.04.004.058l-.012.655-.13 3.274-.28 4.096c-.002.103.02.2.06.29-.008.452.398.81.91.818.51.005.931-.342.94-.778l.545-5.387.096-.799.226.004.263 3.195.18 2.774c-.003.12.03.233.083.335.088.352.449.621.889.627.513.005.931-.343.94-.779l-.132-4.101-.01-3.276.01-.544.073-3.825a6.994 6.994 0 0 0 2.758 1.178c.296.056.65-2.16.57-2.176z"></path>
                                        </g>
                                        <path fill="#5196CB" d="M14.23 2.812c0 1.11.855 2.01 1.908 2.01s1.905-.9 1.905-2.01c0-1.11-.852-2.008-1.905-2.008s-1.908.898-1.908 2.008z"></path>
                                      </g>
                                    </g>
                                  </svg>
                                </div>
                              </div>
                              <div class="OnsiteSpotlight-ctaDetailsContainer">
                                <div class="OnsiteSpotlight-ctaDetails">
                                  <div class="OnsiteSpotlight-ctaTitle">Tour</div>
                                  <div class="OnsiteSpotlight-ctaSubtitle"><span class="OnsiteSpotlight-ctaSubtileText OnsiteSpotlight-ctaSubtileText--full">Request a Tour</span><span class="OnsiteSpotlight-ctaSubtileText OnsiteSpotlight-ctaSubtileText--mini">Request a Tour</span></div>
                                </div>
                              </div>
                              <div class="OnsiteSpotlight-ctaChevron">
                                <div class="SVGResponsive SVGResponsive--layoutWidthConstrained" style="padding-bottom: 127.273%;">
                                  <svg class="SVGResponsive-svg" viewBox="0 0 11 14" aria-labelledby="tidf9f8b2d6-0ffa-4c56-86d9-dc925f56179b " xmlns="http://www.w3.org/2000/svg">
                                    <title id="tidf9f8b2d6-0ffa-4c56-86d9-dc925f56179b">See More</title>
                                    <path stroke="#5196CB" d="M2 1l6 6-6 6" stroke-width="3" fill="none" fill-rule="evenodd"></path>
                                  </svg>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <%= link_to request_info_teacher_profile_path(@teacher_profile, status: "without_login"), class: '', remote: true do  %>
                  <div class="Hero-module_onsiteSpotlight_C5i2Z">
                    <div class="OnsiteSpotlight">
                      <div class="OnsiteSpotlight-ctaList">
                        <div class="OnsiteSpotlight-ctaListItem">
                          <div>
                            <div class="OnsiteSpotlight-cta">
                              <div class="OnsiteSpotlight-ctaIcon">
                                <div class="SVGResponsive SVGResponsive--layoutWidthConstrained" style="padding-bottom: 104.545%;">
                                  <svg class="SVGResponsive-svg" viewBox="0 0 22 23" aria-labelledby="tidb5358cd9-fd0c-46c3-81a5-7b8969292598 " xmlns="http://www.w3.org/2000/svg">
                                    <title id="tidb5358cd9-fd0c-46c3-81a5-7b8969292598">Tour</title>
                                    <g fill="none" fill-rule="evenodd">
                                      <g transform="translate(.5 3.75)">
                                        <path fill="#28325A" d="M10.468 4.73C9.08 4.461 7.88 3.827 7.11 2.542a1.106 1.106 0 0 0-.386-.39c-.403-.458-1.042-.773-1.809-.842a2.632 2.632 0 0 0-1.056.12c-.119.017-.24.05-.365.12C1.736 2.505.565 4.142.044 6.14c-.364 1.393 1.642 2.185 2.009.784.123-.478.288-.927.495-1.343l-.063 3.51c-.001.021.004.04.004.058l-.012.655-.13 3.274-.28 4.096c-.002.103.02.2.06.29-.008.452.398.81.91.818.51.005.931-.342.94-.778l.545-5.387.096-.799.226.004.263 3.195.18 2.774c-.003.12.03.233.083.335.088.352.449.621.889.627.513.005.931-.343.94-.779l-.132-4.101-.01-3.276.01-.544.073-3.825a6.994 6.994 0 0 0 2.758 1.178c.296.056.65-2.16.57-2.176z"></path>
                                      </g>
                                      <path fill="#28325A" d="M6.907 2.625c0 1.036-.798 1.875-1.78 1.875-.983 0-1.78-.84-1.78-1.875 0-1.036.797-1.875 1.78-1.875.982 0 1.78.839 1.78 1.875z"></path>
                                      <g>
                                        <g transform="matrix(-1 0 0 1 21.094 4.018)">
                                          <path fill="#5196CB" d="M10.468 4.73C9.08 4.461 7.88 3.827 7.11 2.542a1.106 1.106 0 0 0-.386-.39c-.403-.458-1.042-.773-1.809-.842a2.632 2.632 0 0 0-1.056.12c-.119.017-.24.05-.365.12C1.736 2.505.565 4.142.044 6.14c-.364 1.393 1.642 2.185 2.009.784.123-.478.288-.927.495-1.343l-.063 3.51c-.001.021.004.04.004.058l-.012.655-.13 3.274-.28 4.096c-.002.103.02.2.06.29-.008.452.398.81.91.818.51.005.931-.342.94-.778l.545-5.387.096-.799.226.004.263 3.195.18 2.774c-.003.12.03.233.083.335.088.352.449.621.889.627.513.005.931-.343.94-.779l-.132-4.101-.01-3.276.01-.544.073-3.825a6.994 6.994 0 0 0 2.758 1.178c.296.056.65-2.16.57-2.176z"></path>
                                        </g>
                                        <path fill="#5196CB" d="M14.23 2.812c0 1.11.855 2.01 1.908 2.01s1.905-.9 1.905-2.01c0-1.11-.852-2.008-1.905-2.008s-1.908.898-1.908 2.008z"></path>
                                      </g>
                                    </g>
                                  </svg>
                                </div>
                              </div>
                              <div class="OnsiteSpotlight-ctaDetailsContainer">
                                <div class="OnsiteSpotlight-ctaDetails">
                                  <div class="OnsiteSpotlight-ctaTitle">Tour</div>
                                  <div class="OnsiteSpotlight-ctaSubtitle"><span class="OnsiteSpotlight-ctaSubtileText OnsiteSpotlight-ctaSubtileText--full">Request a Tour</span><span class="OnsiteSpotlight-ctaSubtileText OnsiteSpotlight-ctaSubtileText--mini">Request a Tour</span></div>
                                </div>
                              </div>
                              <div class="OnsiteSpotlight-ctaChevron">
                                <div class="SVGResponsive SVGResponsive--layoutWidthConstrained" style="padding-bottom: 127.273%;">
                                  <svg class="SVGResponsive-svg" viewBox="0 0 11 14" aria-labelledby="tidf9f8b2d6-0ffa-4c56-86d9-dc925f56179b " xmlns="http://www.w3.org/2000/svg">
                                    <title id="tidf9f8b2d6-0ffa-4c56-86d9-dc925f56179b">See More</title>
                                    <path stroke="#5196CB" d="M2 1l6 6-6 6" stroke-width="3" fill="none" fill-rule="evenodd"></path>
                                  </svg>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
          <% if @teacher_profile.open_house %>
            <div class="link_default_color">
              <% if current_user %>
                <%= link_to "#", data: {toggle: "modal", target: "#open_house_modal"} do %>
                  <div class="Hero-module_onsiteSpotlight_C5i2Z">
                    <div class="OnsiteSpotlight">
                      <div class="OnsiteSpotlight-ctaList">
                        <div class="OnsiteSpotlight-ctaListItem">
                          <div>
                            <div class="OnsiteSpotlight-cta">
                              <div class="OnsiteSpotlight-ctaIcon">
                                <div class="SVGResponsive SVGResponsive--layoutWidthConstrained" style="padding-bottom: 100%;">
                                  <svg class="SVGResponsive-svg" viewBox="0 0 20 20" aria-labelledby="tid44893949-d536-492d-8cd9-6b76226440d6 " xmlns="http://www.w3.org/2000/svg">
                                    <title id="tid44893949-d536-492d-8cd9-6b76226440d6">Open House</title>
                                    <g fill="none" fill-rule="evenodd">
                                      <path fill="#5196CB" d="M11.724 20v-4.138H8.276V20H3.448V10h13.104v10h-4.828z"></path>
                                      <path fill="#28325A" d="M10 0l10 10H0z"></path>
                                    </g>
                                  </svg>
                                </div>
                              </div>
                              <div class="OnsiteSpotlight-ctaDetailsContainer">
                                <div class="OnsiteSpotlight-ctaDetails">
                                  <div class="OnsiteSpotlight-ctaTitle">Open House</div>
                                  <div class="OnsiteSpotlight-ctaSubtitle"><span class="OnsiteSpotlight-ctaSubtileText OnsiteSpotlight-ctaSubtileText--full">&nbsp</span><span class="OnsiteSpotlight-ctaSubtileText OnsiteSpotlight-ctaSubtileText--mini">Request a Tour</span></div>
                                </div>
                              </div>
                              <div class="OnsiteSpotlight-ctaChevron">
                                <div class="SVGResponsive SVGResponsive--layoutWidthConstrained" style="padding-bottom: 127.273%;">
                                  <svg class="SVGResponsive-svg" viewBox="0 0 11 14" aria-labelledby="tidf9f8b2d6-0ffa-4c56-86d9-dc925f56179b " xmlns="http://www.w3.org/2000/svg">
                                    <title id="tidf9f8b2d6-0ffa-4c56-86d9-dc925f56179b">See More</title>
                                    <path stroke="#5196CB" d="M2 1l6 6-6 6" stroke-width="3" fill="none" fill-rule="evenodd"></path>
                                  </svg>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <%= link_to new_user_session_path  do %>
                  <div class="Hero-module_onsiteSpotlight_C5i2Z">
                    <div class="OnsiteSpotlight">
                      <div class="OnsiteSpotlight-ctaList">
                        <div class="OnsiteSpotlight-ctaListItem">
                          <div>
                            <div class="OnsiteSpotlight-cta">
                              <div class="OnsiteSpotlight-ctaIcon">
                                <div class="SVGResponsive SVGResponsive--layoutWidthConstrained" style="padding-bottom: 100%;">
                                  <svg class="SVGResponsive-svg" viewBox="0 0 20 20" aria-labelledby="tid44893949-d536-492d-8cd9-6b76226440d6 " xmlns="http://www.w3.org/2000/svg">
                                    <title id="tid44893949-d536-492d-8cd9-6b76226440d6">Open House</title>
                                    <g fill="none" fill-rule="evenodd">
                                      <path fill="#5196CB" d="M11.724 20v-4.138H8.276V20H3.448V10h13.104v10h-4.828z"></path>
                                      <path fill="#28325A" d="M10 0l10 10H0z"></path>
                                    </g>
                                  </svg>
                                </div>
                              </div>
                              <div class="OnsiteSpotlight-ctaDetailsContainer">
                                <div class="OnsiteSpotlight-ctaDetails">
                                  <div class="OnsiteSpotlight-ctaTitle">Open House</div>
                                  <div class="OnsiteSpotlight-ctaSubtitle"><span class="OnsiteSpotlight-ctaSubtileText OnsiteSpotlight-ctaSubtileText--full">&nbsp</span><span class="OnsiteSpotlight-ctaSubtileText OnsiteSpotlight-ctaSubtileText--mini">Request a Tour</span></div>
                                </div>
                              </div>
                              <div class="OnsiteSpotlight-ctaChevron">
                                <div class="SVGResponsive SVGResponsive--layoutWidthConstrained" style="padding-bottom: 127.273%;">
                                  <svg class="SVGResponsive-svg" viewBox="0 0 11 14" aria-labelledby="tidf9f8b2d6-0ffa-4c56-86d9-dc925f56179b " xmlns="http://www.w3.org/2000/svg">
                                    <title id="tidf9f8b2d6-0ffa-4c56-86d9-dc925f56179b">See More</title>
                                    <path stroke="#5196CB" d="M2 1l6 6-6 6" stroke-width="3" fill="none" fill-rule="evenodd"></path>
                                  </svg>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
          <% if @teacher_profile.request_info %>
            <div class="link_default_color">
            <%= link_to "#", data: {toggle: "modal", target: "#request_info_new"} do %>             
                <div class="Hero-module_onsiteSpotlight_C5i2Z">
                  <div class="OnsiteSpotlight">
                    <div class="OnsiteSpotlight-ctaList">
                      <div class="OnsiteSpotlight-ctaListItem">
                        <div>
                          <div class="OnsiteSpotlight-cta">
                            <!-- <div class="OnsiteSpotlight-ctaIcon">
                              <div class="SVGResponsive SVGResponsive--layoutWidthConstrained" style="padding-bottom: 104.545%;">
                                <svg class="SVGResponsive-svg" viewBox="0 0 22 23" aria-labelledby="tidb5358cd9-fd0c-46c3-81a5-7b8969292598 " xmlns="http://www.w3.org/2000/svg">
                                  <title id="tidb5358cd9-fd0c-46c3-81a5-7b8969292598">Tour</title>
                                  <g fill="none" fill-rule="evenodd">
                                    <g transform="translate(.5 3.75)">
                                      <path fill="#28325A" d="M10.468 4.73C9.08 4.461 7.88 3.827 7.11 2.542a1.106 1.106 0 0 0-.386-.39c-.403-.458-1.042-.773-1.809-.842a2.632 2.632 0 0 0-1.056.12c-.119.017-.24.05-.365.12C1.736 2.505.565 4.142.044 6.14c-.364 1.393 1.642 2.185 2.009.784.123-.478.288-.927.495-1.343l-.063 3.51c-.001.021.004.04.004.058l-.012.655-.13 3.274-.28 4.096c-.002.103.02.2.06.29-.008.452.398.81.91.818.51.005.931-.342.94-.778l.545-5.387.096-.799.226.004.263 3.195.18 2.774c-.003.12.03.233.083.335.088.352.449.621.889.627.513.005.931-.343.94-.779l-.132-4.101-.01-3.276.01-.544.073-3.825a6.994 6.994 0 0 0 2.758 1.178c.296.056.65-2.16.57-2.176z"></path>
                                    </g>
                                    <path fill="#28325A" d="M6.907 2.625c0 1.036-.798 1.875-1.78 1.875-.983 0-1.78-.84-1.78-1.875 0-1.036.797-1.875 1.78-1.875.982 0 1.78.839 1.78 1.875z"></path>
                                    <g>
                                      <g transform="matrix(-1 0 0 1 21.094 4.018)">
                                        <path fill="#5196CB" d="M10.468 4.73C9.08 4.461 7.88 3.827 7.11 2.542a1.106 1.106 0 0 0-.386-.39c-.403-.458-1.042-.773-1.809-.842a2.632 2.632 0 0 0-1.056.12c-.119.017-.24.05-.365.12C1.736 2.505.565 4.142.044 6.14c-.364 1.393 1.642 2.185 2.009.784.123-.478.288-.927.495-1.343l-.063 3.51c-.001.021.004.04.004.058l-.012.655-.13 3.274-.28 4.096c-.002.103.02.2.06.29-.008.452.398.81.91.818.51.005.931-.342.94-.778l.545-5.387.096-.799.226.004.263 3.195.18 2.774c-.003.12.03.233.083.335.088.352.449.621.889.627.513.005.931-.343.94-.779l-.132-4.101-.01-3.276.01-.544.073-3.825a6.994 6.994 0 0 0 2.758 1.178c.296.056.65-2.16.57-2.176z"></path>
                                      </g>
                                      <path fill="#5196CB" d="M14.23 2.812c0 1.11.855 2.01 1.908 2.01s1.905-.9 1.905-2.01c0-1.11-.852-2.008-1.905-2.008s-1.908.898-1.908 2.008z"></path>
                                    </g>
                                  </g>
                                </svg>
                              </div>
                            </div> -->
                            <div class="OnsiteSpotlight-ctaDetailsContainer">
                              <div class="OnsiteSpotlight-ctaDetails">
                                <div class="OnsiteSpotlight-ctaTitle">Request Info</div>
                                <div class="OnsiteSpotlight-ctaSubtitle"><span class="OnsiteSpotlight-ctaSubtileText OnsiteSpotlight-ctaSubtileText--full"> &nbsp </span><span class="OnsiteSpotlight-ctaSubtileText OnsiteSpotlight-ctaSubtileText--mini">Request Info</span></div>
                              </div>
                            </div>
                            <div class="OnsiteSpotlight-ctaChevron">
                              <div class="SVGResponsive SVGResponsive--layoutWidthConstrained" style="padding-bottom: 127.273%;">
                                <svg class="SVGResponsive-svg" viewBox="0 0 11 14" aria-labelledby="tidf9f8b2d6-0ffa-4c56-86d9-dc925f56179b " xmlns="http://www.w3.org/2000/svg">
                                  <title id="tidf9f8b2d6-0ffa-4c56-86d9-dc925f56179b">See More</title>
                                  <path stroke="#5196CB" d="M2 1l6 6-6 6" stroke-width="3" fill="none" fill-rule="evenodd"></path>
                                </svg>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>

            <!-- <button class="button button__large" type="button" id="request_info" data-toggle="modal" data-target="#request_info_modal">Request Info</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="new-school-page-mobile-header">
    <div class="new-school-page-gallery-icon"></div>
    <div class="school-page-mobile-header-director">
      <div class="school-page-director">
        <div class="school-page-director-avatar" style="background-image: url(&quot;<%= @teacher_profile.profile_image.url %>&quot;);">
        </div>
        <h3 class="school-page-director-name"><%= "#{@teacher_profile.first_name} #{@teacher_profile.last_name}"  %></h3>
        <!-- <div class="school-page-director-title">School Director</div> -->
      </div>
    </div>
    <%= form_tag search_path, id: 'search_form', method: :get do |f| %>
      <button class="button button_naked" type="button">
        <div class="new-school-page-bookmark-icon">
          <div class="SVGResponsive SVGResponsive--layoutWidthConstrained" style="padding-bottom: 82.7586%;">
               <svg class="SVGResponsive-svg" viewBox="0 0 29 24" aria-labelledby=" " xmlns="http://www.w3.org/2000/svg">
                  <g fill-rule="nonzero" fill="none">
                     <path fill="#dedede" fill-rule="evenodd" d="M14.12 4.441c-.036.038-.072.038-.109 0l-2.22-2.315C10.481.759 8.734 0 6.915 0a6.69 6.69 0 0 0-4.877 2.126A7.344 7.344 0 0 0 0 7.212c0 1.936.728 3.758 2.038 5.086L11.9 22.585a3.074 3.074 0 0 0 2.22.95c.838 0 1.602-.343 2.22-.95l9.863-10.287a7.344 7.344 0 0 0 2.038-5.086c0-1.936-.728-3.758-2.038-5.086-2.766-2.81-7.17-2.81-9.863 0L14.12 4.44z"></path>
                     <path stroke="#dedede" stroke-width="2" d="M14.842 5.133a1.064 1.064 0 0 1-1.553 0l-2.22-2.315C9.947 1.648 8.461 1 6.915 1A5.698 5.698 0 0 0 2.76 2.818 6.344 6.344 0 0 0 1 7.212c0 1.678.628 3.246 1.76 4.394l9.862 10.287c.394.41.934.641 1.498.641.555 0 1.073-.224 1.499-.64l9.862-10.288a6.344 6.344 0 0 0 1.76-4.394c0-1.678-.628-3.246-1.75-4.385-2.373-2.41-6.128-2.41-8.429-.01l-2.22 2.316z"></path>
                  </g>
               </svg>
          </div>
        </div>
      </button>
    <% end %>
  </div>
  <div class="custom_content_width_constraint">
    <div class="school-page-tabbar">
      <div class="Tabbar">
        <a class="Tabbar-link"><span class="Tabbar-link-text Tabbar-link-text-selected">About</span></a>
        <a class="Tabbar-link"><span class="Tabbar-link-text">Basics</span></a>
      </div>
    </div>
    <div class="school-page-container">
      <div class="school-page-rail school-page-hide-mobile">
        <div class="school-page-rail-director">
           <div class="school-page-director">
              <div class="school-page-director-avatar" style="background-image: url(&quot;<%= @teacher_profile.profile_image.url %>&quot;);"></div>
              <h3 class="school-page-director-name"><%= "#{@teacher_profile.first_name} #{@teacher_profile.last_name}"  %></h3>
              <%= link_to new_enrollment_path do %>
                <button type="button" class="btn btn-info">Enroll Me</button>
              <% end %>
           </div>
        </div>

        <%if @prices.present? %>
          <div class="RailSection">
            <h5 class="RailSection-title">Enrollment</h5>
            <% @prices.each do |price|%>
              <% if price.two_days_price.present? || price.three_days_price.present? || price.five_days_price.present? %>
                <table class="SchoolPage-table">
                  <tbody>
                    <tr>
                      <td colspan="2" class="SchoolPage-tableHeader">
                      <%= price.child_time %></td>
                    </tr>
                    <% if price.two_days_price.present? %>
                      <tr class="SchoolPage-tableRow ">
                        <td class="SchoolPage-tableKey">2 days/wk</td>
                        <td class="SchoolPage-tableValue">
                          <%= link_to 'See Pricing', get_price_teacher_path(@teacher_profile.teacher), class: 'Button--link', remote: current_user ? true : false %>
                        </td>
                      </tr>
                    <% end %>
                    <% if price.three_days_price.present? %>
                      <tr class="SchoolPage-tableRow ">
                        <td class="SchoolPage-tableKey">3 days/wk</td>
                        <td class="SchoolPage-tableValue">
                          <%= link_to 'See Pricing', get_price_teacher_path(@teacher_profile.teacher), class: 'Button--link', remote: current_user ? true : false %>
                        </td>
                      </tr>
                    <% end %>
                    <% if price.five_days_price.present? %>
                      <tr class="SchoolPage-tableRow ">
                        <td class="SchoolPage-tableKey">5 days/wk</td>
                        <td class="SchoolPage-tableValue">
                          <%= link_to 'See Pricing', get_price_teacher_path(@teacher_profile.teacher), class: 'Button--link', remote: current_user ? true : false %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              <% end %>
            <% end %>
            <div class="RailSection-synopsis">For families in need of scholarships or financial assistance, we accept subsidy payments from Wu Yee and Children’s Council of San Francisco. Inquire to learn more.</div>
          </div>
        <% end %>
      <div class="RailSection">
  <div class="RailSection-title">Gallery</div>
  <div>
    <div class="SchoolPage-railGallery">
      <div class="SchoolPage-railThumb" style="background-image: url(&quot;https://www.wonderschool.com/uploads/8e3e837f-e207-4236-87f5-1342accec72b.jpg&quot;);">
        <svg class="SVGIcon " viewBox="0 0 640 480" aria-labelledby=" " xmlns="http://www.w3.org/2000/svg"></svg>
      </div>
      <div class="SchoolPage-railThumb" style="background-image: url(&quot;https://www.wonderschool.com/uploads/48a0f73c-0d20-4083-a447-49be6e7e16e0.jpg&quot;);">
        <svg class="SVGIcon " viewBox="0 0 640 480" aria-labelledby=" " xmlns="http://www.w3.org/2000/svg"></svg>
      </div>
      <div class="SchoolPage-railThumb" style="background-image: url(&quot;https://www.wonderschool.com/uploads/e3d4c813-3d8b-47cb-b6df-4cb0568a20aa.jpg&quot;);">
        <svg class="SVGIcon " viewBox="0 0 640 480" aria-labelledby=" " xmlns="http://www.w3.org/2000/svg"></svg>
      </div>
      <div class="SchoolPage-railThumb" style="background-image: url(&quot;https://www.wonderschool.com/uploads/6e06f9ff-4e4d-4f3a-9e77-c6bc29f97349.jpg&quot;);">
        <svg class="SVGIcon " viewBox="0 0 640 480" aria-labelledby=" " xmlns="http://www.w3.org/2000/svg"></svg>
      </div>
      <div class="SchoolPage-railThumb" style="background-image: url(&quot;https://www.wonderschool.com/uploads/3fd182b2-1e82-4474-89f1-585358a72469.jpg&quot;);">
        <svg class="SVGIcon " viewBox="0 0 640 480" aria-labelledby=" " xmlns="http://www.w3.org/2000/svg"></svg>
      </div>
      <div class="SchoolPage-railThumb" style="background-image: url(&quot;https://www.wonderschool.com/uploads/b43c8c78-f931-40db-bd3e-5863bd81aaad.jpg&quot;);">
        <svg class="SVGIcon " viewBox="0 0 640 480" aria-labelledby=" " xmlns="http://www.w3.org/2000/svg"></svg>
      </div>
      <div class="SchoolPage-railThumb" style="background-image: url(&quot;https://www.wonderschool.com/uploads/31daab98-9e7c-40af-a20c-8cbb46c53392.jpg&quot;);">
        <svg class="SVGIcon " viewBox="0 0 640 480" aria-labelledby=" " xmlns="http://www.w3.org/2000/svg"></svg>
      </div>
      <div class="SchoolPage-railThumb" style="background-image: url(&quot;https://www.wonderschool.com/uploads/c222adb1-3f7b-4995-8d91-090ac7e4651d.jpg&quot;);">
        <svg class="SVGIcon " viewBox="0 0 640 480" aria-labelledby=" " xmlns="http://www.w3.org/2000/svg"></svg>
      </div>
    </div>
    <div class="SchoolPage-railSectionSynopsis"><button class="Button        Button--link" type="button">View All Images</button></div>
  </div>
</div>  
       
       
<div class="RailSection">
  <div class="RailSection-title">Rhythm of the Day</div>
  <table class="SchoolPage-table">
    <tbody>
      <tr class="SchoolPage-tableRow SchoolPage-tableRow--left">
        <td class="SchoolPage-tableKey">8:00 AM</td>
        <td class="SchoolPage-tableValue">Arrival</td>
      </tr>
      <tr class="SchoolPage-tableRow SchoolPage-tableRow--left">
        <td class="SchoolPage-tableKey">9:00 AM</td>
        <td class="SchoolPage-tableValue">Meal Time</td>
      </tr>
      <tr class="SchoolPage-tableRow SchoolPage-tableRow--left">
        <td class="SchoolPage-tableKey">9:30 AM</td>
        <td class="SchoolPage-tableValue">Bathroom Break</td>
      </tr>
      <tr class="SchoolPage-tableRow SchoolPage-tableRow--left">
        <td class="SchoolPage-tableKey">10:00 AM</td>
        <td class="SchoolPage-tableValue">Morning Activity </td>
      </tr>
      <tr class="SchoolPage-tableRow SchoolPage-tableRow--left">
        <td class="SchoolPage-tableKey">11:00 AM</td>
        <td class="SchoolPage-tableValue">Free Play</td>
      </tr>
      <tr class="SchoolPage-tableRow SchoolPage-tableRow--left">
        <td class="SchoolPage-tableKey">11:30 AM</td>
        <td class="SchoolPage-tableValue">Lunch</td>
      </tr>
      <tr class="SchoolPage-tableRow SchoolPage-tableRow--left">
        <td class="SchoolPage-tableKey">12:30 PM</td>
        <td class="SchoolPage-tableValue">Nap</td>
      </tr>
      <tr class="SchoolPage-tableRow SchoolPage-tableRow--left">
        <td class="SchoolPage-tableKey">2:30 PM</td>
        <td class="SchoolPage-tableValue">Bathroom Break</td>
      </tr>
      <tr class="SchoolPage-tableRow SchoolPage-tableRow--left">
        <td class="SchoolPage-tableKey">3:00 PM</td>
        <td class="SchoolPage-tableValue">Afternoon Snack</td>
      </tr>
      <tr class="SchoolPage-tableRow SchoolPage-tableRow--left">
        <td class="SchoolPage-tableKey">3:30 PM</td>
        <td class="SchoolPage-tableValue">Afternoon Activity</td>
      </tr>
      <tr class="SchoolPage-tableRow SchoolPage-tableRow--left">
        <td class="SchoolPage-tableKey">4:15 PM</td>
        <td class="SchoolPage-tableValue">Free Play</td>
      </tr>
      <tr class="SchoolPage-tableRow SchoolPage-tableRow--left">
        <td class="SchoolPage-tableKey">4:45 PM</td>
        <td class="SchoolPage-tableValue">Quiet Time</td>
      </tr>
      <tr class="SchoolPage-tableRow SchoolPage-tableRow--left">
        <td class="SchoolPage-tableKey">5:45 PM</td>
        <td class="SchoolPage-tableValue">Dismissal</td>
      </tr>
    </tbody>
  </table>
</div>
       <!--  <div class="rail-section">
           <h5 class="rail-section-title">2018-2019 Calendar</h5>
           <table class="school-page-table">
              <tbody>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">September 3</td>
                    <td class="school-page-table-value">Labor Day - CLOSED</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">October 8</td>
                    <td class="school-page-table-value">Columbus Day - CLOSED</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">October 31</td>
                    <td class="school-page-table-value">LSLC Halloween Party (Time TBA)! Center Closing at 3:00</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">November 12</td>
                    <td class="school-page-table-value">Veteran's Day - CLOSED</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">November 21</td>
                    <td class="school-page-table-value">LSLC Thanksgiving Kids' Only Feast!</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">November 22-23</td>
                    <td class="school-page-table-value">Thanksgiving Break - CLOSED</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">December 24</td>
                    <td class="school-page-table-value">LSLC Holiday Party (Time TBA)! Center Closing at 3:00</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">December 25</td>
                    <td class="school-page-table-value">Christmas Day - CLOSED</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">December 31-January 1</td>
                    <td class="school-page-table-value">New Year's Eve &amp; Day - CLOSED</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">January 21</td>
                    <td class="school-page-table-value">MLK Day - CLOSED</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">February 14</td>
                    <td class="school-page-table-value">LSLC Valentine's Day Kids's Only Party!</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">February 18</td>
                    <td class="school-page-table-value">President's Day - CLOSED</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">March 15</td>
                    <td class="school-page-table-value">LSLC St. Patrick's Day Kids' Only Party!</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">April Break</td>
                    <td class="school-page-table-value">TBA</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">May 10</td>
                    <td class="school-page-table-value">Mother's Day Tea Party (Time TBA)!</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">May 27</td>
                    <td class="school-page-table-value">Memorial Day - CLOSED</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">June 14</td>
                    <td class="school-page-table-value">Father's Day/End of the Year BBQ (Time TBA)!</td>
                 </tr>
              </tbody>
           </table>
           <div class="rail-section-synopsis">We hold ongoing  new enrollment as space allows.  Check back here for Opening Day!  Also check here for any schedule changes including updates to party times and for the Summer 2019 calendar.  </div>
        </div> -->
      </div>
         <div class="school-page-content">
            <div class="school-page-content">
            <div class="school-page-section">
               <h2 class="school-page-section-title">Philosophy</h2>
               <div>
                  <p>Little Sunflower believes in providing a safe, secure, fun and loving environment for both child and parent.  We believe children who feel safe, happy and loved will naturally learn better and become successful little learners.  We provide a "family like" learning environment and strive to teach the whole child through all of their senses.  Through our creative curriculum and hands-on learning approach we incorporate many activities, art/sensory, music/movement, literacy, science/technology, and cooking.  These activities will help your child grow socially, emotionally, physically and intellectually.  At Little Sunflower, all children are treated fairly and equally.  We believe in using positive reinforcement to increase desirable behaviors for example cleaning up toys, following directions and using manners.  </p>
                  <p>Little Sunflower has an open door policy,  please feel free to call or stop by to visit with your child!    We welcome  feedback from our parents and guardians because we want to help best meet you and your child's needs.</p>
               </div>
            </div>
            <div class="school-page-section">
               <h2 class="school-page-section-title">Admissions</h2>
               <div>
                  <p>Join the Little Sunflower Learning Center community in four easy steps:</p>
                  <h4 id="1-explore-our-website">1. Explore our website</h4>
                  <p>We’ve provided information about our philosophies and offerings to help you decide if our program may be right for your family.</p>
                  <h4 id="2-tour-our-school">2. Tour our school</h4>
                  <p>Come see what makes Little Sunflower Learning Center unique. Please schedule a tour by filling out the “Schedule Tour” form.</p>
                  <h4 id="3-submit-an-enrollment-application">3. Submit an Enrollment Application</h4>
                  <p>If you would like to enroll, please submit an application at www.wonderschool.com/littlesunflower/apply – Please note that we require tours for all prospective families. If you have not toured the school please schedule a tour when submitting your enrollment.</p>
                  <h4 id="4-enroll">4. Enroll</h4>
                  <p>After reviewing your application, we’ll send an enrollment invitation. Upon accepting your invitation, you’ll pay your deposit (usually equal to one month’s tuition), fill out enrollment documents and review our Parent Handbook.</p>
               </div>
            </div>
            <div class="school-page-section">
               <h2 class="school-page-section-title">Location</h2>
               <div>
                <p>Across from our program just a few steps away is a large public park which has a swing and a stunning grassy playground. When you enter our center, you enter our family. The first experience children have in our space is the kitchen learning center which we created to engage them in sensory learning. Nearby is our reading center, math and science area, dramatic play, music, and art area. We have a very large beautiful backyard which children enjoy outdoor play in. Our childcare is conveniently located in the heart of Seattle, a quick five minute walk from downtown and close to bus and train options.</p>
               </div>
            </div>
            </div>
            <div class="school-page-section">
               <h2 class="school-page-section-title">About Our School</h2>
               <div>
                  <p>Little Sunflower Learning Center's learning environment is a unique blend of different, but effective teaching and parenting styles.  Throughout her career Miss Katie has utilized many teaching methodologies to help her children and her students learn.  At LSLC, we will be teaching the whole child through the use all of their senses using different Learning Centers.  We use a blend of Child Led Learning and Teacher Led Learning.  Discipline and respect are also taught throughout the day to help each child learn to self regulate and make good choices.    </p>
                  <p>Children will be exposed to many important activities to help facilitate their learning.  The Infant/Toddler room has many stimulating materials such as textile toys, musical toys, and an area to practice large gross motor activities which will help them learn to sit up, crawl, and walk.  In our main play area the children will have opportunities to build with mega blocks, play dress up, create amazing artwork while socializing with their peers and our staff.  Our daily schedule includes a fun, interactive, singing Circle Time that will be tailored to fit the needs of the children's learning goals.  Our outdoor play area is a great area for the children to explore nature!  The children can have fun digging and dumping in our sandbox. They will be planting many vegetables and flowers in the garden area.  Our equipment includes slides, swings, tires to climb over and into, and fun wagon rides!  Weather permitting we will have our lunches and snacks outside, too!   </p>
                  <p>At Little Sunflower Learning Center we hope to prepare the children for the outside world by giving them a fun and safe learning environment.  We have you covered from infancy to school age!Children will love to learn if you give them the right environment and support.  Check out LSLC and see if it's the right place for your child and your family!</p>
                  <p>&#8203;</p>
               </div>
            </div>

            <div class="school-page-section">
               <h2 class="school-page-section-title">Our Teachers</h2>
               <div>
                  <p>THE BASICS!</p>
                  <p>Hi and welcome to Little Sunflower Learning Center! My name is Kathleen Gallant, but please call me Katie!  I am a happily remarried mother of 2.    Our children are Abby, age 12 and JJ, age 22 months.   My husband, Jim, and I love spending time with our kids, going for rides out east, checking out attractions like local Farmer’s Markets and cooking. </p>
                  <p>MY CHILDHOOD:</p>
                  <p>I grew up in Coram and attended a mixture of public schools and private schools.  I have 3 older brothers who all still live on the islandwith their families.  We always had a lot of animals; cats, dogs, birds, snakes, you name it chances are we had it!  I participated in dance at a few schools, my favorite being Amy Tyler’s School of Dance where Abby now attends.</p>
                  <p>MY EDUCATION &amp; CAREER</p>
                  <p>After graduating Newfield HS in 1998, I went on to SUNY Cobleskill for my associate's in Early Childhood  Education, received my bachelor’s in Elementary Education from St. Joseph’s College and then my Master’s in Special Education at CW POST/LIU.  I have worked with all ages and abilities.  I started out in daycare while still in high school then went to work with adults with special needs. The bulk of my experience has been in Early Intervention working with children that have special needs such as Autism, Speech Delays, etc ages birth through 3 years of age.  I also worked in various districts and Eastern Suffolk BOCES as a Substitute and an Assistant.  My favorite age groups to work with are infant, toddlers and preschoolers.   </p>
                  <p>&#8203;</p>
                  <p>&#8203;</p>
                  <p>&#8203;</p>
               </div>
            </div>
         </div>
         <div class="school-page-rail">
            <div class="school-page-save-and-compare">
            <% if current_user && current_user.parent?%>
              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">View Ratings</button>
            <% end %>
            </div>
            <div class="rail-section mobile-hidden">
               <h5 class="rail-section-title">Location</h5>
               <ul class="school-page-list">
                  <li class="school-page-list-item">
                     <p><%="#{@teacher_profile.city}, #{@teacher_profile.street_address},#{@teacher_profile.postal_code}" %></p>
                  </li>
                  <li class="school-page-list-item">
                     <div class="school-page-list-item-value">
                      <% if current_user.present? %>
                        <div class="h6"><span><%= @teacher_profile.cell_phone %></span></div>
                      <% else%>
                        <div class="h6 contact_seen"><button class="button button--link" type="button">See Phone Number</button></div>
                        <div class="h6 real_contact"><span><%= @teacher_profile.cell_phone %></span></div>
                      <% end %>
                     </div>
                  </li>
                  <li class="school-page-list-item">
                     <div class="school-page-list-item-value">
                      <% if current_user.present? %>
                        <div class="h6"><span><%= @teacher_profile.teacher.email %></span></div>
                      <% else %>
                        <div class="h6 contact_seen"><button class="button button--link" type="button">See Email</button></div>
                        <div class="h6 real_contact"><span><%= @teacher_profile.teacher.email %></span></div>
                      <% end %>
                     </div>
                  </li>
               </ul>
               <div class="school-page-rail-Map">
                <div style='width:px;'>
                  <div id="map" style='width: 300px; height: 300px;'></div>
                  </div>
              </div>
            <div class="school-page-sticky">
               <div class="rail-section">
                  <h5 class="rail-section-title">Related Schools</h5>
                  <div class="P">We’re still expanding into this area. Want to be the first to know about great Wonderschools in this area?</div>
                  <div class="P">
                     <div class="h6"><button class="button button--link" type="button">Notify Me</button></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<%= render 'price_modal' %>
<%= render 'request_info'%>
<%= render 'request_info_new'%>
<%= render 'view_rating'%>
<% if current_user %>
  <%= render 'open_house'%>
<% end %>



<script type="text/javascript">
  pop_up = Cookies.get('pop_up')
  if(pop_up == 'true'){
    $('#request_info_modal').modal('show')
    Cookies.set('pop_up', null)
  }
  $(".contact_seen").click(function(){
    $(this).hide();
    $(this).siblings('.real_contact').show();
  });
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": <%=@teacher_profile.latitude%>,
        "lng": <%=@teacher_profile.longitude%>,
        "picture": {
          "width":  32,
          "height": 32
        },
        "infowindow": "SJSU"
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>
