<%= form_for(@price, url: price_admin_teacher_path, html: { method: :post }) do |f| %>
  <table>
    <tbody>
      <tr>
        <th></th>
        <th>2 days/wk</th>
        <th>3 days/wk</th>
        <th>5 days/wk</th>
      </tr>
      <% @teacher_prices.each_with_index do |tp, index| %>
        <tr>
          <%= f.fields_for "#{index}" do |option| %>
            <td><%= label_tag 'day_time_over_2', tp.child_time%></td>
            <%= option.hidden_field :child_time, value: Price.child_times[tp.child_time]%>
            <td><%= option.number_field :two_days_price, value: tp.two_days_price %></td>
            <td><%= option.number_field :three_days_price, value: tp.three_days_price %></td>
            <td><%= option.number_field :five_days_price, value: tp.five_days_price %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="form-actions">
    <%=f.submit 'Submit', class: 'btn btn-primary btn-custom'%>
  </div>
<% end %>