<div class="form-content">
  <%= simple_form_for @teacher_profile, url: admin_teacher_path, method: 'patch', html: { class: 'form-horizontal', id: 'new_teacher_admin_form' } do |f| %>
    <h1> Personal Information </h1>
      <%= f.input :first_name%>
      <%= f.input :last_name %>
      <%= f.input :street_address %>
      <%= f.input :apt_no%>
      <div class='form-group'>
        <%= label_tag 'postal_code', 'Postal Code'%>
        <input class="form-control string required" type="text" value="<%= current_user.postal_code%>" disabled="true">
      </div>
      <%= f.input :city%>
      <%= f.input :home_phone%>
      <%= f.input :cell_phone%>
      <%= f.input :date_of_birth, as: :string%>
      <%= f.input :language%>
      <%= f.input :work%>
      <%= f.input :legal_to_work, :as => :select, :label => 'Are you legally able to work in Canada? (Have SIN or applied for it)', :collection => option_with_na, include_blank: false, include_hidden: false %>

      <%= f.input :apartment, inline_label: 'Apartment:' %>
      <div id = "apartment">
        <%= f.input :floor%>
        <%= f.input :condo, as: :select, collection: choose_option, label: '*If Apartment, is this a Condo?'%>
      </div>
      <%= f.input :house, inline_label: 'House:' %>
      <div id = "house">
        <%= f.input :basement_premises, as: :select, collection: choose_option, label: 'Is child care space in the basement of the premises?'%>
        <%= f.input :basement_premises, as: :select, collection: choose_option, label: '*Are there two exits?'%>
      </div>
      <%= f.input :home_smoke, as: :select, label: '*Smoking in home:', collection: choose_option, include_blank: false, include_hidden: false %>

      <%= f.input :pet, as: :select, label: '*Pets in home?', collection: choose_option, include_blank: false, include_hidden: false %>

      <%= f.input :vaccine, as: :select, label: '*Vaccinations are current?', collection: option_with_na, include_blank: false, include_hidden: false %>

    <h4> CHILDREN IN HOME: </h4>
      <div id='children'>
        <%= f.simple_fields_for :children do |child| %>
          <%= render 'child_fields', :f => child %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'add child', f, :children %>
        </div>
      </div>

    <%= f.input :goal, label: 'GOAL:' %>
    <%= f.input :age_range, label: 'Age range you want to have?' %>
    <%= f.input :local_school, as: :select, collection: choose_option, label: '*Are you willing to take children to local schools?' %>
    <%= f.input :school_name, label: 'Name of School(s):' %>
    <%= f.input :request_info, as: :boolean, label: 'Request Info' %>
    <%= f.input :tour, as: :boolean, label: 'Tour' %>
    <%= f.input :open_house, as: :boolean, label: 'Open House' %>
    <%= f.input :profile_image, as: :file, label: 'Profile Image'%>
    <%= f.input :cover_photo, as: :file, label: 'Cover Photo'%>
    <%= f.input :comments, label: 'Comments' %>
    <div class="form-actions">
      <%=f.submit 'Submit', class: 'btn btn-primary btn-custom'%>
    </div>
  <% end %>