<h1>Teachers applications</h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Postal Code</th>
      <th colspan="2">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.name %></td>
        <td><%= teacher.email %></td>
        <td><%= teacher.postal_code %></td>
        <% if teacher.approve %>
          <td>Approved</td>
          <% if teacher.teacher_profile.present? %>
            <td><%= link_to 'Edit', edit_teacher_profile_path(teacher.teacher_profile), method: :get %>
          <% end %>
        <% else %>
          <td><%= link_to 'Approve', approve_admin_teacher_path(teacher), method: :patch %>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>
