<div class="form-content custom-form-content for_parent_profile">
    <h3 class="fonts_profile">Family Profile</h3>
    <hr>
    <p>We'd love to know a little more about your family before we talk. Please take a moment to fill this out. You'll only fill this out once for all Wonderschools. Wonderschool is a network of boutique in-home early childhood programs. Learn more »</p>
    <hr>
    <p>Thank you, your application has been submitted!</p>
    <p><b>Your responses</b></p>
    <section class="parent_section_form">
      <div class="guardian_details">

        <p class="heading">Parent/Guardian Name</p>
        <p><%= @parent_profile.guardian_name %></p>

        <p class="heading">Parent/Guardian Email</p>
        <p><%= @parent_profile.guardian_email %></p>

        <p class="heading">Parent/Guardian Employer / Occupation</p>
        <p><%= @parent_profile.guardian_occupation %></p>

        <p class="heading">Parent/Guardian Phone</p>
        <p><%= @parent_profile.guardian_phone%></p>

        <p class="heading">Second Parent/Guardian Name</p>
        <p><%= @parent_profile.second_guardian_name %></p>

        <p class="heading">Second Parent/Guardian Email</p>
        <p><%= @parent_profile.second_guardian_email %></p>

        <p class="heading">Second Parent/Guardian Employer / Occupation</p>
        <p><%= @parent_profile.second_guardian_occupation %></p>

        <p class="heading">Second Parent/Guardian Phone</p>
        <p><%= @parent_profile.second_guardian_phone%></p>

        <p class="heading">Child Name</p>
        <p><%= @parent_profile.child_name %></p>

        <p class="heading">Child Date of Birth</p>
        <p><%= @parent_profile.child_date_of_birth %></p>

        <p class="heading">Desired Start of Care</p>
        <p><%= @parent_profile.start_of_care %></p>

        <p class="heading">Probable End of Care</p>
        <p><%= @parent_profile.end_of_care %></p>

        <p class="heading">Preferred Weekly Schedule</p>
        <p><%= @parent_profile.weekly_schedule %></p>

        <p class="heading">How much care do you need? What is your desired schedule?</p>
        <p><%= @parent_profile.desired_schedule %></p>

        <p class="heading">What is your child's previous childcare experience?</p>
        <p><%= @parent_profile.past_child_care %></p>

        <p class="heading">Describe your child's eating habits</p>
        <p><%= @parent_profile.child_eat_habits %></p>

        <p class="heading">Describe your child's sleep habits</p>
        <p><%= @parent_profile.child_sleep_habits %></p>

        <p class="heading">What three words describe your child?</p>
        <p><%= @parent_profile.describe_child %></p>

        <p class="heading">Describe your child's social experience / temperament?</p>
        <p><%= @parent_profile.child_temperament %></p>

        <p class="heading">How do you handle behavioral concerns/situations at home?</p>
        <p><%= @parent_profile.behavioral_situation %></p>

        <p class="heading">What are some factors impacting your decision to enroll in childcare?</p>
        <p><%= @parent_profile.factor_to_enroll %></p>

        <p class="heading">Do you have any concerns about our school meeting your needs?</p>
        <p><%= @parent_profile.school_meeting_concern %></p>

        <p class="heading">Family / Child Needs</p>
        <p><%= @parent_profile.child_accomodation_needs %></p>

        <p class="heading">Describe your child's recent reactions when in a new childcare situation with a new caregiver or environment such as a gym drop in childcare, with a new sitter/friend, etc</p>
        <p><%= @parent_profile.recent_reaction %></p>

        <p class="heading">How did you hear about us?</p>
        <p><%= @parent_profile.hear_about_us %></p>
      </div>
    </section>
</div>
