<div>
  <div class="section_about">
    <div class="section_about_header">
      <div class="custom_content_width_constraint">
        <!-- <div class="section_about_header_img">
          <%= image_tag('home.png', class: 'about-home-image')%>
        </div> -->
        <!-- <div class="section_about_header_copy">Our Mission</div>
        <div class="section_about_header_button_area">
           <div class="section_about_header_button_wrapper">
            <!--  <a href="https://wonderschool.workable.com/" target="_blank" rel="noopener noreferrer"><button class="button button_arrow" type="button">We're hiring</button> -->
             <!-- </a> -->     
          <h3 class ="mission-section">Our Mission</h3>   
          <div class="our-mission-para">   
            <p> To provide high-quality early child care experience that is affordable and close to home</p>
           </div>
        </div>
      </div>
    </div>

    
    <div class="section_about_mission">
      <div class="custom_content_width_constraint">
        <div class="section_about_mission_wrapper">
            <div class="about-mission-section-2">
                <p>What we do</p>
            </div>    
            <div class="about-mission-content">
             <p>Dreamschool provides affordable, high-quality child care, while offering qualified early childhood educators with the support they need to provide child care in their homes. </p>
              <p>We can connect parents to early childhood educators for their children close to home, while we help these educators start and run their own child care centres through </p>
              <ul>
                <li>An online platform that connects parents and qualified early childhood educators in local neighbourhoods</li>
                <li>Online management tools to support parents and early childhood educators with scheduling, paying bills, and getting real-time updates on daily activities</li>
                <li>Proven program design including curriculum and tools, and everything in between</li>
                <li>Hands-on support for early childhood educators with launching a business – from </li>
              </ul>
              <p>Dreamschool child care centres are: </p> 
              <ul>
                <li>Enriching learning environments for young minds</li>
                <li>Above and beyond government standards and regulations</li>
                <li>Designed based on proven practices and evidence</li>
              </ul>
            </div>  
            <!-- <div class="Grid-cell">
              <div class="section_about_mission_copy">
                <p>Our mission is to ensure that every child has access to a home away from home that helps them realize their full potential.</p>
                <p>We work with experienced educators and childcare providers to help them  start their own childcares or preschools out of their homes, whether they live in apartments, condos, or homes that they rent or own.</p>
                <p>We provide assistance with licensing, program setup, marketing and everything in between. Our software platform allows teachers to manage their students, parents, and their program from one dashboard. Along with this, we have built a marketplace for parents to search Dreamschool programs, schedule visits, enroll their children, and make payments.</p>
              </div>
            </div> -->
            <!-- <div class="Grid-cell">
              <div class="section_about_mission_bullets">
                <div class="section_about_mission_bullet">
                  <%= image_tag('mark.png', class: 'right-mark')%>
                  <div class="section_about_mission_details">
                    <div class="section_about_mission_bullet_title">Above and beyond safety</div>
                    <div class="section_about_mission_bullet_copy">Dreamschool partners follow safety and quality guidelines above and beyond what is required for licensure.</div>
                  </div>
                </div>
                <div class="section_about_mission_bullet">
                  <%= image_tag('mark.png', class: 'right-mark')%>
                  <div class="section_about_mission_details">
                    <div class="section_about_mission_bullet_title">Handpicked program Directors</div>
                    <div class="section_about_mission_bullet_copy">We interview and carefully vet each of our partners before we accept them into our network.</div>
                  </div>
                </div>
                <div class="section_about_mission_bullet">
                  <%= image_tag('mark.png', class: 'right-mark')%>
                  <div class="section_about_mission_details">
                    <div class="section_about_mission_bullet_title">Community-grown</div>
                    <div class="section_about_mission_bullet_copy">When your child attends a Dreamschool program, you are supporting quality, affordable childcare and early childhood education provided by neighbors in your community.</div>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
   
    <div class="section_about_story">
      <div class="custom_content_width_constraint">
        <div class="section_about_story_title">WHY WE STARTED DREAMSCHOOL </div>
          <div class="section_about_story_wrapper">
            <p>Too many parents and families in Ontario are anxious and nervous about finding affordable, high-quality child care close to home. Too many women, in particular, are having to choose between pursuing their careers and finding reliable child care. The wait lists for child care are long, and the cost for childcare is exorbitant.</p>
            <p>At the same time, many qualified early childcare educators find it daunting to set-up and run their own in-home business. While those who own care centres have trouble with filling open spots and keeping up with new government standards. </p>
            <p>Our team is a group of technologist, community organizers, care providers, and educators. We created Dreamschool to help substantially expand access to high-quality early child care for all families. </p>
            <!-- <div class="custom_grid Grid--full">
              <div class="Grid-cell">
                <div class="section_about_story_text">
                  <p>Chris Bennett and Arrel Gray saw too many parents who were anxious and scared about finding childcare, as well as educators who couldn’t afford care for their own children while they were at work. They knew that there had to be a better way to address this issue for families and teachers alike.</p>
                  <p>Chris’s appreciation for education goes back to his parents, Honduran immigrants who did whatever they could to ensure that he had access to an excellent education—from attending quality preschool to graduating from Penn. He wanted to ensure other children had the same opportunities to reach their full potential.</p>
                  <p>Meanwhile, new father Arrel struggled to find care for his toddler near his home in Los Angeles. He visited many preschools, but had no idea how to evaluate them and what sources to trust to determine a program’s credibility.</p>
                  <p>Chris and Arrel designed Wonderschool, a mission driven company, as a way to dramatically increase access to high-quality early childhood care for all families. Today, the platform empowers experienced educators and child care providers to run their own in-home business while providing a much-needed service to other families in their communities.</p>
              </div>
            </div> -->
            <!-- <div class="Grid-cell">
              <div class="section_about_image_wrapper">
                <%= image_tag('teachers.jpg', :alt => 'Dreamschool_Team', class: 'section_about_story_picture')%>
                <div class="section_about_story_logo_wrapper">
                  <div class="section_about_story_logo">
                    <%= image_tag('about_logo.png', class: "about_logo")%>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>   
    <div class="section_about_header">
      <div class="custom_content_width_constraint">
        <!-- <div class="section_about_header_img">
          <%= image_tag('home.png', class: 'about-home-image')%>
        </div> -->
        <div class="section_about_header_copy">HOW IT WORKS </div>
          <h3>Parents</h3>
            <p>Are you looking for affordable and high-quality child care close to your home?</p>
            <p>Dreamschool provides all-in-one platform to help you find affordable, reliable childcare close to your home or work. We make finding childcare as easy as possible, so you can have stress-free work days!</p>
            <ul>
              <li>We do thorough background checks and pre-screen all of our registered early childhood educators to ensure they are qualified, trusted, and reliable. </li>
              <li>We work to ensure that each child care centre meets (and exceeds) safety standards and regulations</li>
              <li>Use the Dreamschool online and mobile-based platform to:</li>
            </ul>
            <ul>
              <li>Search for a qualified early care provider in your neighbourhood</li>
              <li>Get real-time updates from the care provider of their child’s day</li>
              <li>Schedule appointments and make online payments at your convenience </li>
            </ul>
           <p>To secure a spot for your child in your area now, sign up here!</p> 
              <h5 class="about-section-underline">Early Childhood Educators</h5>
                <p class="about-section-bold-para">Do you want to start your own childcare centre?</p>
                <p>Dreamschool works with you to start and mange your own childcare centre. From licensing to program design to marketing to payments, and everything in between, we are help you.</p>

               <ul class="about-section-list">
                 <li>1-on-1 launch and licensing support</li>
               </ul>
               <ul style="list-style-type:circle">
                 <li>Make business registration, licensing and insurance easy </li>
                 <li>Tested pricing model that maximizes your earnings </li>
                 <li> Guidance on how to set up your learning environment</li>
                 <li>Meet government standards and regulations</li>
               </ul>

                <ul class="about-section-list">
                 <li>Effective approach and platform to fill and manage your care centre</li>
                </ul>
                <ul style="list-style-type:circle"> 
                 <li>Access network of hundreds of families in your neighbourhood</li>
                 <li>Tested pricing model that maximizes your earnings </li>
                 <li>Use evidence-based program design to deliver enriching learning experience </li>
                 <li>Data-driven method to fill openings </li>
               </ul>

                <ul class="about-section-list">
                 <li>Online billing and management tools</li>
                </ul>
                <ul style="list-style-type:circle"> 
                 <li>Automatic monthly billing and receiptsy </li>
                 <li>Enrollment and paperwork management </li>
                 <li> Collection of drop-in and late fees</li> 
                 <li>Keep in touch with parents and families </li>                
               </ul>

               <ul class="about-section-list">
                 <li>Connect to Dreamschool Network </li>
                </ul>
                <ul style="list-style-type:circle"> 
                  <li>Regular updates on latest trends and news in the child care sector in Canada </li>
               </ul>

        <!-- <div class="section_about_header_button_area">
           <div class="section_about_header_button_wrapper">
            --> <!--  <a href="https://wonderschool.workable.com/" target="_blank" rel="noopener noreferrer"><button class="button button_arrow" type="button">We're hiring</button>
             </a> -->
           <!--   To provide high-quality early child care experience that is <!-- affordable and close to home -->
      </div>
    </div>
   <!--  <div class="section_about_videos_wrapper">
      <div class="custom_content_width_constraint">
        <div class="section_about_videos">
          <div class="custom_grid Grid--full">
            <div class="Grid-cell">
              <div class="section_about_video_wrapper">
                <iframe class="section_about_video" src="https://www.youtube.com/embed/TaBRLaVp7ao" frameborder="0" allowfullscreen="">
                </iframe>
              </div>
            </div>
            <div class="Grid-cell">
              <div class="section_about_video_wrapper">
                <iframe class="section_about_video" src="https://www.youtube.com/embed/y1lPokAQV5I" frameborder="0" allowfullscreen="">
                </iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>