<div class="custom-search-section">
  <div class="row">
    <div class="col-md-8 col-sm-8 col-xs-12 custom-md">
      <div class="search_homepage_result">
        <div class="custom_content_width_constraint">
          <div class="custom_grid Grid--full ">
            <% if @message %>
              <div class="UnexpectedFailure-heading">Your search could not be found. Dreamschool only operates in Toronto at the moment.</div>
              <div class="UnexpectedFailure-heading">Don’t see a school in your neighborhood?
             <%= link_to 'Sign Up', new_user_registration_path %>
              Sign up to be notified when we open in your area.</div>
            <% else %>
              <% teachers_id = Teacher.pluck(:id)%>
              <% favourites = current_user.favourites.pluck(:teacher_id)%>
              <% @teachers.each_with_index do |teacher, index|%>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="Grid-cell   ">
                  	<%= link_to teacher_profile_path(teacher)  do %>
                    <!-- <a class="new-link" href="#"> -->
                      <div class="custom_callout_school">
                        <div class="custom_callout_school_aspect_ratio_image">
                          <%if teacher.profile_image.present?%>
                            <%= image_tag(teacher.profile_image.url, class: 'custom_callout_school_aspect_ratio_image_img')%>
                          <%end%>
                        </div>

                        <div class="custom_callout_school_info">
                          <h2 class="custom_callout_school_name"> <%= teacher.school_name %></h2>
                        </div>
                      </div>
                    <% end %>
                    <%= form_tag(change_favourite_status_parents_path, method: :get, remote: true)do %>
                      <%= hidden_field_tag 'teacher_id', teacher.teacher.id%>
                      <%= hidden_field_tag 'status', true %>
                      <div class="custom_callout_school_bookmark enroll_btn" id = "teacher_image_<%=teacher.teacher.id%>">
                        <% if check_favourite(teacher.teacher.id) %>
                          <%= render 'parents/red_favourite' %>
                        <% else %>
                          <%= render 'parents/white_favourite' %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 custom-md">
    	<div class="fixed-map-4">
			  <div id="map" style='height: 100vh;'></div>
			</div>
    </div>
  </div>
</div>



<script type="text/javascript">

	$(function(){
    var mapOptions = {
      center: new google.maps.LatLng(43.653226, -79.3831843),
      zoom: 8
    };
		var handler = Gmaps.build('Google');
		handler.buildMap({ provider: mapOptions, internal: {id: 'map'}}, function(){
		    var markers = handler.addMarkers(<%=raw @hash.to_json %>);
		    handler.bounds.extendWith(markers);
		    handler.fitMapToBounds();
		});
})
</script>