<div class="custom-search-section">
	<div class="row">
		<div class="col-md-8 custom-md">
			<div class="search_homepage_result">
	      <div class="custom_content_width_constraint">
	        <div class="custom_grid Grid--full ">
	          <div class="Grid-cell   ">
	            <a class="new-link " href="/wa/seattle/queenanne">
	              <div class="custom_callout_school">
	                <div class="custom_callout_school_aspect_ratio_image">
	                  <%=image_tag('school-child.jpg', class: 'custom_callout_school_aspect_ratio_image_img')%>
	                </div>
	                <div class="custom_callout_school_bookmark">
	                  <button class="button button_naked custom-btn" type="button">
			                <div class="custom_callout_school_bookmark_icon">
			                  <div class="SVGResponsive SVGResponsive--layoutWidthConstrained" style="padding-bottom: 82.7586%;">
			                    <svg class="SVGResponsive-svg" viewBox="0 0 29 24" aria-labelledby=" " xmlns="http://www.w3.org/2000/svg">
			                      <g fill-rule="nonzero" fill="none">
			                        <path fill="transparent" fill-rule="evenodd" d="M14.12 4.441c-.036.038-.072.038-.109 0l-2.22-2.315C10.481.759 8.734 0 6.915 0a6.69 6.69 0 0 0-4.877 2.126A7.344 7.344 0 0 0 0 7.212c0 1.936.728 3.758 2.038 5.086L11.9 22.585a3.074 3.074 0 0 0 2.22.95c.838 0 1.602-.343 2.22-.95l9.863-10.287a7.344 7.344 0 0 0 2.038-5.086c0-1.936-.728-3.758-2.038-5.086-2.766-2.81-7.17-2.81-9.863 0L14.12 4.44z"></path>
			                        <path stroke="#fff" stroke-width="2" d="M14.842 5.133a1.064 1.064 0 0 1-1.553 0l-2.22-2.315C9.947 1.648 8.461 1 6.915 1A5.698 5.698 0 0 0 2.76 2.818 6.344 6.344 0 0 0 1 7.212c0 1.678.628 3.246 1.76 4.394l9.862 10.287c.394.41.934.641 1.498.641.555 0 1.073-.224 1.499-.64l9.862-10.288a6.344 6.344 0 0 0 1.76-4.394c0-1.678-.628-3.246-1.75-4.385-2.373-2.41-6.128-2.41-8.429-.01l-2.22 2.316z"></path>
			                      </g>
			                    </svg>
			                  </div>
			                </div>
	                  </button>
	                </div>
	                <div class="custom_callout_school_info">
	                  <h2 class="custom_callout_school_name">Queen Anne Dreamschool</h2>
	                  <ul class="custom_callout_school_attrs"></ul>
	                </div>
	              </div>
	            </a>
	          </div>
	          <div class="Grid-cell   ">
	            <a class="new-link" href="/wa/seattle/hummingbird">
	              <div class="custom_callout_school">
	                <div class="custom_callout_school_aspect_ratio_image">
	                  <%= image_tag('grid_image.jpg', class: 'custom_callout_school_aspect_ratio_image_img')%>
	                </div>
	                <div class="custom_callout_school_bookmark">
	                  <button class="button button_naked custom-btn" type="button">
	                    <div class="custom_callout_school_bookmark_icon">
	                      <div class="SVGResponsive SVGResponsive--layoutWidthConstrained" style="padding-bottom: 82.7586%;">
	                        <svg class="SVGResponsive-svg" viewBox="0 0 29 24" aria-labelledby=" " xmlns="http://www.w3.org/2000/svg">
	                          <g fill-rule="nonzero" fill="none">
	                            <path fill="transparent" fill-rule="evenodd" d="M14.12 4.441c-.036.038-.072.038-.109 0l-2.22-2.315C10.481.759 8.734 0 6.915 0a6.69 6.69 0 0 0-4.877 2.126A7.344 7.344 0 0 0 0 7.212c0 1.936.728 3.758 2.038 5.086L11.9 22.585a3.074 3.074 0 0 0 2.22.95c.838 0 1.602-.343 2.22-.95l9.863-10.287a7.344 7.344 0 0 0 2.038-5.086c0-1.936-.728-3.758-2.038-5.086-2.766-2.81-7.17-2.81-9.863 0L14.12 4.44z"></path>
	                            <path stroke="#fff" stroke-width="2" d="M14.842 5.133a1.064 1.064 0 0 1-1.553 0l-2.22-2.315C9.947 1.648 8.461 1 6.915 1A5.698 5.698 0 0 0 2.76 2.818 6.344 6.344 0 0 0 1 7.212c0 1.678.628 3.246 1.76 4.394l9.862 10.287c.394.41.934.641 1.498.641.555 0 1.073-.224 1.499-.64l9.862-10.288a6.344 6.344 0 0 0 1.76-4.394c0-1.678-.628-3.246-1.75-4.385-2.373-2.41-6.128-2.41-8.429-.01l-2.22 2.316z"></path>
	                          </g>
	                        </svg>
	                      </div>
	                    </div>
	                  </button>
	                </div>
	                <div class="custom_callout_school_info">
	                  <h2 class="custom_callout_school_name">Hummingbird</h2>
	                  <ul class="custom_callout_school_attrs">
	                    <li class="custom_callout_school_attr">
	                      <div class="custom_callout_school_attr_icon">
	                        <div class="SVGResponsive SVGResponsive--layoutHeightConstrained">
	                          <svg class="SVGResponsive-svg" viewBox="0 0 17 18" aria-labelledby="tid21f201e9-d277-4fba-879a-9b5243fcfa7e " xmlns="http://www.w3.org/2000/svg"><title id="tid21f201e9-d277-4fba-879a-9b5243fcfa7e">Business Hours</title><g transform="translate(.348 1)" stroke="currentColor" fill="none" fill-rule="evenodd"><path d="M11.629 8.33H7.67V2.364"></path><circle cx="8" cy="8.001" r="7.501"></circle></g>
	                          </svg>
	                        </div>
	                      </div>
	                      <div class="custom_callout_school_attr_text">7:00am to 6:00pm</div>
	                    </li>
	                    <li class="custom_callout_school_attr">
	                      <div class="custom_callout_school_attr_icon">
	                        <div class="SVGResponsive SVGResponsive--layoutHeightConstrained">
	                          <svg class="SVGResponsive-svg" viewBox="0 0 17 18" aria-labelledby="tid020d1e4f-3bf5-40cb-81b5-1377ef345059 " xmlns="http://www.w3.org/2000/svg"><title id="tid020d1e4f-3bf5-40cb-81b5-1377ef345059">Price</title><g transform="translate(.348 1)" stroke="currentColor" fill="none" fill-rule="evenodd"><circle cx="7.99" cy="8.003" r="7.518"></circle><path d="M5.498 10.735c.664.578 1.688 1.012 2.427 1.012 1.182 0 2.14-.838 2.14-1.872 0-1.034-1.023-1.545-2.14-1.872-1.158-.363-2.141-.838-2.141-1.872 0-1.033.958-1.871 2.14-1.871.797 0 1.491.38 1.86.943M8 3.237v9.532"></path></g>
	                          </svg>
	                        </div>
	                      </div>
	                      <div class="custom_callout_school_attr_text">$750-$1500</div>
	                    </li>
	                  </ul>
	                </div>
	              </div>
	            </a>
	          </div>
	        </div>
	        <div class="custom_grid Grid--full ">
	          <div class="Grid-cell   ">
	            <a class="new-link " href="/wa/seattle/queenanne">
	              <div class="custom_callout_school">
	                <div class="custom_callout_school_aspect_ratio_image">
	                  <%=image_tag('school-child.jpg', class: 'custom_callout_school_aspect_ratio_image_img')%>
	                </div>
	                <div class="custom_callout_school_bookmark">
	                  <button class="button button_naked custom-btn" type="button">
			                <div class="custom_callout_school_bookmark_icon">
			                  <div class="SVGResponsive SVGResponsive--layoutWidthConstrained" style="padding-bottom: 82.7586%;">
			                    <svg class="SVGResponsive-svg" viewBox="0 0 29 24" aria-labelledby=" " xmlns="http://www.w3.org/2000/svg">
			                      <g fill-rule="nonzero" fill="none">
			                        <path fill="transparent" fill-rule="evenodd" d="M14.12 4.441c-.036.038-.072.038-.109 0l-2.22-2.315C10.481.759 8.734 0 6.915 0a6.69 6.69 0 0 0-4.877 2.126A7.344 7.344 0 0 0 0 7.212c0 1.936.728 3.758 2.038 5.086L11.9 22.585a3.074 3.074 0 0 0 2.22.95c.838 0 1.602-.343 2.22-.95l9.863-10.287a7.344 7.344 0 0 0 2.038-5.086c0-1.936-.728-3.758-2.038-5.086-2.766-2.81-7.17-2.81-9.863 0L14.12 4.44z"></path>
			                        <path stroke="#fff" stroke-width="2" d="M14.842 5.133a1.064 1.064 0 0 1-1.553 0l-2.22-2.315C9.947 1.648 8.461 1 6.915 1A5.698 5.698 0 0 0 2.76 2.818 6.344 6.344 0 0 0 1 7.212c0 1.678.628 3.246 1.76 4.394l9.862 10.287c.394.41.934.641 1.498.641.555 0 1.073-.224 1.499-.64l9.862-10.288a6.344 6.344 0 0 0 1.76-4.394c0-1.678-.628-3.246-1.75-4.385-2.373-2.41-6.128-2.41-8.429-.01l-2.22 2.316z"></path>
			                      </g>
			                    </svg>
			                  </div>
			                </div>
	                  </button>
	                </div>
	                <div class="custom_callout_school_info">
	                  <h2 class="custom_callout_school_name">Queen Anne Dreamschool</h2>
	                  <ul class="custom_callout_school_attrs"></ul>
	                </div>
	              </div>
	            </a>
	          </div>
	          <div class="Grid-cell   ">
	            <a class="new-link" href="/wa/seattle/hummingbird">
	              <div class="custom_callout_school">
	                <div class="custom_callout_school_aspect_ratio_image">
	                  <%= image_tag('grid_image.jpg', class: 'custom_callout_school_aspect_ratio_image_img')%>
	                </div>
	                <div class="custom_callout_school_bookmark">
	                  <button class="button button_naked custom-btn" type="button">
	                    <div class="custom_callout_school_bookmark_icon">
	                      <div class="SVGResponsive SVGResponsive--layoutWidthConstrained" style="padding-bottom: 82.7586%;">
	                        <svg class="SVGResponsive-svg" viewBox="0 0 29 24" aria-labelledby=" " xmlns="http://www.w3.org/2000/svg">
	                          <g fill-rule="nonzero" fill="none">
	                            <path fill="transparent" fill-rule="evenodd" d="M14.12 4.441c-.036.038-.072.038-.109 0l-2.22-2.315C10.481.759 8.734 0 6.915 0a6.69 6.69 0 0 0-4.877 2.126A7.344 7.344 0 0 0 0 7.212c0 1.936.728 3.758 2.038 5.086L11.9 22.585a3.074 3.074 0 0 0 2.22.95c.838 0 1.602-.343 2.22-.95l9.863-10.287a7.344 7.344 0 0 0 2.038-5.086c0-1.936-.728-3.758-2.038-5.086-2.766-2.81-7.17-2.81-9.863 0L14.12 4.44z"></path>
	                            <path stroke="#fff" stroke-width="2" d="M14.842 5.133a1.064 1.064 0 0 1-1.553 0l-2.22-2.315C9.947 1.648 8.461 1 6.915 1A5.698 5.698 0 0 0 2.76 2.818 6.344 6.344 0 0 0 1 7.212c0 1.678.628 3.246 1.76 4.394l9.862 10.287c.394.41.934.641 1.498.641.555 0 1.073-.224 1.499-.64l9.862-10.288a6.344 6.344 0 0 0 1.76-4.394c0-1.678-.628-3.246-1.75-4.385-2.373-2.41-6.128-2.41-8.429-.01l-2.22 2.316z"></path>
	                          </g>
	                        </svg>
	                      </div>
	                    </div>
	                  </button>
	                </div>
	                <div class="custom_callout_school_info">
	                  <h2 class="custom_callout_school_name">Hummingbird</h2>
	                  <ul class="custom_callout_school_attrs">
	                    <li class="custom_callout_school_attr">
	                      <div class="custom_callout_school_attr_icon">
	                        <div class="SVGResponsive SVGResponsive--layoutHeightConstrained">
	                          <svg class="SVGResponsive-svg" viewBox="0 0 17 18" aria-labelledby="tid21f201e9-d277-4fba-879a-9b5243fcfa7e " xmlns="http://www.w3.org/2000/svg"><title id="tid21f201e9-d277-4fba-879a-9b5243fcfa7e">Business Hours</title><g transform="translate(.348 1)" stroke="currentColor" fill="none" fill-rule="evenodd"><path d="M11.629 8.33H7.67V2.364"></path><circle cx="8" cy="8.001" r="7.501"></circle></g>
	                          </svg>
	                        </div>
	                      </div>
	                      <div class="custom_callout_school_attr_text">7:00am to 6:00pm</div>
	                    </li>
	                    <li class="custom_callout_school_attr">
	                      <div class="custom_callout_school_attr_icon">
	                        <div class="SVGResponsive SVGResponsive--layoutHeightConstrained">
	                          <svg class="SVGResponsive-svg" viewBox="0 0 17 18" aria-labelledby="tid020d1e4f-3bf5-40cb-81b5-1377ef345059 " xmlns="http://www.w3.org/2000/svg"><title id="tid020d1e4f-3bf5-40cb-81b5-1377ef345059">Price</title><g transform="translate(.348 1)" stroke="currentColor" fill="none" fill-rule="evenodd"><circle cx="7.99" cy="8.003" r="7.518"></circle><path d="M5.498 10.735c.664.578 1.688 1.012 2.427 1.012 1.182 0 2.14-.838 2.14-1.872 0-1.034-1.023-1.545-2.14-1.872-1.158-.363-2.141-.838-2.141-1.872 0-1.033.958-1.871 2.14-1.871.797 0 1.491.38 1.86.943M8 3.237v9.532"></path></g>
	                          </svg>
	                        </div>
	                      </div>
	                      <div class="custom_callout_school_attr_text">$750-$1500</div>
	                    </li>
	                  </ul>
	                </div>
	              </div>
	            </a>
	          </div>
	        </div>
	        <div class="custom_grid Grid--full ">
	          <div class="Grid-cell   ">
	            <a class="new-link " href="/wa/seattle/queenanne">
	              <div class="custom_callout_school">
	                <div class="custom_callout_school_aspect_ratio_image">
	                  <%=image_tag('school-child.jpg', class: 'custom_callout_school_aspect_ratio_image_img')%>
	                </div>
	                <div class="custom_callout_school_bookmark">
	                  <button class="button button_naked custom-btn" type="button">
			                <div class="custom_callout_school_bookmark_icon">
			                  <div class="SVGResponsive SVGResponsive--layoutWidthConstrained" style="padding-bottom: 82.7586%;">
			                    <svg class="SVGResponsive-svg" viewBox="0 0 29 24" aria-labelledby=" " xmlns="http://www.w3.org/2000/svg">
			                      <g fill-rule="nonzero" fill="none">
			                        <path fill="transparent" fill-rule="evenodd" d="M14.12 4.441c-.036.038-.072.038-.109 0l-2.22-2.315C10.481.759 8.734 0 6.915 0a6.69 6.69 0 0 0-4.877 2.126A7.344 7.344 0 0 0 0 7.212c0 1.936.728 3.758 2.038 5.086L11.9 22.585a3.074 3.074 0 0 0 2.22.95c.838 0 1.602-.343 2.22-.95l9.863-10.287a7.344 7.344 0 0 0 2.038-5.086c0-1.936-.728-3.758-2.038-5.086-2.766-2.81-7.17-2.81-9.863 0L14.12 4.44z"></path>
			                        <path stroke="#fff" stroke-width="2" d="M14.842 5.133a1.064 1.064 0 0 1-1.553 0l-2.22-2.315C9.947 1.648 8.461 1 6.915 1A5.698 5.698 0 0 0 2.76 2.818 6.344 6.344 0 0 0 1 7.212c0 1.678.628 3.246 1.76 4.394l9.862 10.287c.394.41.934.641 1.498.641.555 0 1.073-.224 1.499-.64l9.862-10.288a6.344 6.344 0 0 0 1.76-4.394c0-1.678-.628-3.246-1.75-4.385-2.373-2.41-6.128-2.41-8.429-.01l-2.22 2.316z"></path>
			                      </g>
			                    </svg>
			                  </div>
			                </div>
	                  </button>
	                </div>
	                <div class="custom_callout_school_info">
	                  <h2 class="custom_callout_school_name">Queen Anne Dreamschool</h2>
	                  <ul class="custom_callout_school_attrs"></ul>
	                </div>
	              </div>
	            </a>
	          </div>
	          <div class="Grid-cell   ">
	            <a class="new-link" href="/wa/seattle/hummingbird">
	              <div class="custom_callout_school">
	                <div class="custom_callout_school_aspect_ratio_image">
	                  <%= image_tag('grid_image.jpg', class: 'custom_callout_school_aspect_ratio_image_img')%>
	                </div>
	                <div class="custom_callout_school_bookmark">
	                  <button class="button button_naked custom-btn" type="button">
	                    <div class="custom_callout_school_bookmark_icon">
	                      <div class="SVGResponsive SVGResponsive--layoutWidthConstrained" style="padding-bottom: 82.7586%;">
	                        <svg class="SVGResponsive-svg" viewBox="0 0 29 24" aria-labelledby=" " xmlns="http://www.w3.org/2000/svg">
	                          <g fill-rule="nonzero" fill="none">
	                            <path fill="transparent" fill-rule="evenodd" d="M14.12 4.441c-.036.038-.072.038-.109 0l-2.22-2.315C10.481.759 8.734 0 6.915 0a6.69 6.69 0 0 0-4.877 2.126A7.344 7.344 0 0 0 0 7.212c0 1.936.728 3.758 2.038 5.086L11.9 22.585a3.074 3.074 0 0 0 2.22.95c.838 0 1.602-.343 2.22-.95l9.863-10.287a7.344 7.344 0 0 0 2.038-5.086c0-1.936-.728-3.758-2.038-5.086-2.766-2.81-7.17-2.81-9.863 0L14.12 4.44z"></path>
	                            <path stroke="#fff" stroke-width="2" d="M14.842 5.133a1.064 1.064 0 0 1-1.553 0l-2.22-2.315C9.947 1.648 8.461 1 6.915 1A5.698 5.698 0 0 0 2.76 2.818 6.344 6.344 0 0 0 1 7.212c0 1.678.628 3.246 1.76 4.394l9.862 10.287c.394.41.934.641 1.498.641.555 0 1.073-.224 1.499-.64l9.862-10.288a6.344 6.344 0 0 0 1.76-4.394c0-1.678-.628-3.246-1.75-4.385-2.373-2.41-6.128-2.41-8.429-.01l-2.22 2.316z"></path>
	                          </g>
	                        </svg>
	                      </div>
	                    </div>
	                  </button>
	                </div>
	                <div class="custom_callout_school_info">
	                  <h2 class="custom_callout_school_name">Hummingbird</h2>
	                  <ul class="custom_callout_school_attrs">
	                    <li class="custom_callout_school_attr">
	                      <div class="custom_callout_school_attr_icon">
	                        <div class="SVGResponsive SVGResponsive--layoutHeightConstrained">
	                          <svg class="SVGResponsive-svg" viewBox="0 0 17 18" aria-labelledby="tid21f201e9-d277-4fba-879a-9b5243fcfa7e " xmlns="http://www.w3.org/2000/svg"><title id="tid21f201e9-d277-4fba-879a-9b5243fcfa7e">Business Hours</title><g transform="translate(.348 1)" stroke="currentColor" fill="none" fill-rule="evenodd"><path d="M11.629 8.33H7.67V2.364"></path><circle cx="8" cy="8.001" r="7.501"></circle></g>
	                          </svg>
	                        </div>
	                      </div>
	                      <div class="custom_callout_school_attr_text">7:00am to 6:00pm</div>
	                    </li>
	                    <li class="custom_callout_school_attr">
	                      <div class="custom_callout_school_attr_icon">
	                        <div class="SVGResponsive SVGResponsive--layoutHeightConstrained">
	                          <svg class="SVGResponsive-svg" viewBox="0 0 17 18" aria-labelledby="tid020d1e4f-3bf5-40cb-81b5-1377ef345059 " xmlns="http://www.w3.org/2000/svg"><title id="tid020d1e4f-3bf5-40cb-81b5-1377ef345059">Price</title><g transform="translate(.348 1)" stroke="currentColor" fill="none" fill-rule="evenodd"><circle cx="7.99" cy="8.003" r="7.518"></circle><path d="M5.498 10.735c.664.578 1.688 1.012 2.427 1.012 1.182 0 2.14-.838 2.14-1.872 0-1.034-1.023-1.545-2.14-1.872-1.158-.363-2.141-.838-2.141-1.872 0-1.033.958-1.871 2.14-1.871.797 0 1.491.38 1.86.943M8 3.237v9.532"></path></g>
	                          </svg>
	                        </div>
	                      </div>
	                      <div class="custom_callout_school_attr_text">$750-$1500</div>
	                    </li>
	                  </ul>
	                </div>
	              </div>
	            </a>
	          </div>
	        </div>
	        <div class="custom_grid Grid--full ">
	          <div class="Grid-cell   ">
	            <a class="new-link " href="/wa/seattle/queenanne">
	              <div class="custom_callout_school">
	                <div class="custom_callout_school_aspect_ratio_image">
	                  <%=image_tag('school-child.jpg', class: 'custom_callout_school_aspect_ratio_image_img')%>
	                </div>
	                <div class="custom_callout_school_bookmark">
	                  <button class="button button_naked custom-btn" type="button">
			                <div class="custom_callout_school_bookmark_icon">
			                  <div class="SVGResponsive SVGResponsive--layoutWidthConstrained" style="padding-bottom: 82.7586%;">
			                    <svg class="SVGResponsive-svg" viewBox="0 0 29 24" aria-labelledby=" " xmlns="http://www.w3.org/2000/svg">
			                      <g fill-rule="nonzero" fill="none">
			                        <path fill="transparent" fill-rule="evenodd" d="M14.12 4.441c-.036.038-.072.038-.109 0l-2.22-2.315C10.481.759 8.734 0 6.915 0a6.69 6.69 0 0 0-4.877 2.126A7.344 7.344 0 0 0 0 7.212c0 1.936.728 3.758 2.038 5.086L11.9 22.585a3.074 3.074 0 0 0 2.22.95c.838 0 1.602-.343 2.22-.95l9.863-10.287a7.344 7.344 0 0 0 2.038-5.086c0-1.936-.728-3.758-2.038-5.086-2.766-2.81-7.17-2.81-9.863 0L14.12 4.44z"></path>
			                        <path stroke="#fff" stroke-width="2" d="M14.842 5.133a1.064 1.064 0 0 1-1.553 0l-2.22-2.315C9.947 1.648 8.461 1 6.915 1A5.698 5.698 0 0 0 2.76 2.818 6.344 6.344 0 0 0 1 7.212c0 1.678.628 3.246 1.76 4.394l9.862 10.287c.394.41.934.641 1.498.641.555 0 1.073-.224 1.499-.64l9.862-10.288a6.344 6.344 0 0 0 1.76-4.394c0-1.678-.628-3.246-1.75-4.385-2.373-2.41-6.128-2.41-8.429-.01l-2.22 2.316z"></path>
			                      </g>
			                    </svg>
			                  </div>
			                </div>
	                  </button>
	                </div>
	                <div class="custom_callout_school_info">
	                  <h2 class="custom_callout_school_name">Queen Anne Dreamschool</h2>
	                  <ul class="custom_callout_school_attrs"></ul>
	                </div>
	              </div>
	            </a>
	          </div>
	          <div class="Grid-cell   ">
	            <a class="new-link" href="/wa/seattle/hummingbird">
	              <div class="custom_callout_school">
	                <div class="custom_callout_school_aspect_ratio_image">
	                  <%= image_tag('grid_image.jpg', class: 'custom_callout_school_aspect_ratio_image_img')%>
	                </div>
	                <div class="custom_callout_school_bookmark">
	                  <button class="button button_naked custom-btn" type="button">
	                    <div class="custom_callout_school_bookmark_icon">
	                      <div class="SVGResponsive SVGResponsive--layoutWidthConstrained" style="padding-bottom: 82.7586%;">
	                        <svg class="SVGResponsive-svg" viewBox="0 0 29 24" aria-labelledby=" " xmlns="http://www.w3.org/2000/svg">
	                          <g fill-rule="nonzero" fill="none">
	                            <path fill="transparent" fill-rule="evenodd" d="M14.12 4.441c-.036.038-.072.038-.109 0l-2.22-2.315C10.481.759 8.734 0 6.915 0a6.69 6.69 0 0 0-4.877 2.126A7.344 7.344 0 0 0 0 7.212c0 1.936.728 3.758 2.038 5.086L11.9 22.585a3.074 3.074 0 0 0 2.22.95c.838 0 1.602-.343 2.22-.95l9.863-10.287a7.344 7.344 0 0 0 2.038-5.086c0-1.936-.728-3.758-2.038-5.086-2.766-2.81-7.17-2.81-9.863 0L14.12 4.44z"></path>
	                            <path stroke="#fff" stroke-width="2" d="M14.842 5.133a1.064 1.064 0 0 1-1.553 0l-2.22-2.315C9.947 1.648 8.461 1 6.915 1A5.698 5.698 0 0 0 2.76 2.818 6.344 6.344 0 0 0 1 7.212c0 1.678.628 3.246 1.76 4.394l9.862 10.287c.394.41.934.641 1.498.641.555 0 1.073-.224 1.499-.64l9.862-10.288a6.344 6.344 0 0 0 1.76-4.394c0-1.678-.628-3.246-1.75-4.385-2.373-2.41-6.128-2.41-8.429-.01l-2.22 2.316z"></path>
	                          </g>
	                        </svg>
	                      </div>
	                    </div>
	                  </button>
	                </div>
	                <div class="custom_callout_school_info">
	                  <h2 class="custom_callout_school_name">Hummingbird</h2>
	                  <ul class="custom_callout_school_attrs">
	                    <li class="custom_callout_school_attr">
	                      <div class="custom_callout_school_attr_icon">
	                        <div class="SVGResponsive SVGResponsive--layoutHeightConstrained">
	                          <svg class="SVGResponsive-svg" viewBox="0 0 17 18" aria-labelledby="tid21f201e9-d277-4fba-879a-9b5243fcfa7e " xmlns="http://www.w3.org/2000/svg"><title id="tid21f201e9-d277-4fba-879a-9b5243fcfa7e">Business Hours</title><g transform="translate(.348 1)" stroke="currentColor" fill="none" fill-rule="evenodd"><path d="M11.629 8.33H7.67V2.364"></path><circle cx="8" cy="8.001" r="7.501"></circle></g>
	                          </svg>
	                        </div>
	                      </div>
	                      <div class="custom_callout_school_attr_text">7:00am to 6:00pm</div>
	                    </li>
	                    <li class="custom_callout_school_attr">
	                      <div class="custom_callout_school_attr_icon">
	                        <div class="SVGResponsive SVGResponsive--layoutHeightConstrained">
	                          <svg class="SVGResponsive-svg" viewBox="0 0 17 18" aria-labelledby="tid020d1e4f-3bf5-40cb-81b5-1377ef345059 " xmlns="http://www.w3.org/2000/svg"><title id="tid020d1e4f-3bf5-40cb-81b5-1377ef345059">Price</title><g transform="translate(.348 1)" stroke="currentColor" fill="none" fill-rule="evenodd"><circle cx="7.99" cy="8.003" r="7.518"></circle><path d="M5.498 10.735c.664.578 1.688 1.012 2.427 1.012 1.182 0 2.14-.838 2.14-1.872 0-1.034-1.023-1.545-2.14-1.872-1.158-.363-2.141-.838-2.141-1.872 0-1.033.958-1.871 2.14-1.871.797 0 1.491.38 1.86.943M8 3.237v9.532"></path></g>
	                          </svg>
	                        </div>
	                      </div>
	                      <div class="custom_callout_school_attr_text">$750-$1500</div>
	                    </li>
	                  </ul>
	                </div>
	              </div>
	            </a>
	          </div>
	        </div>
	      </div>
	    </div>
		</div>
		<div class="col-md-4 custom-md">
			<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3736489.7218514383!2d90.21589792292741!3d23.857125486636733!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1506502314230" width="100%" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</div>
