<div class="form-content custom-form-content">
  <%= form_tag bank_account_teacher_path, id: 'stripe_form',  method: :post, class: 'form-horizontal', multipart: true do |f| %>

    <!-- <div class='form-group'>
      <%#= label_tag :first_name, 'First Name *' %>
      <%#= text_field(:account_info, :first_name, required: true ) %>
      <%#= text_field_tag :first_name, nil, required: true, class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%#= label_tag :last_name, 'Last Name *' %>
      <%#= text_field(:account_info, :last_name, required: true ) %>
      <%#= text_field_tag :last_name, nil, required: true, class: 'form-control' %>
    </div> -->

    <!-- <div class='form-group'>
      <%#= label_tag :email, 'Email *' %>
      <%#= email_field(:account_info, :email, required: true ) %>
      <%#= email_field_tag :email, nil, required: true, class: 'form-control' %>
    </div> -->

    <div class='form-group'>
      <%= label_tag :address, 'Address *' %>
      <%= text_field_tag :address_line1, nil, required: true, class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= label_tag :city, 'City *' %>
      <%= text_field_tag :address_city, nil, required: true, class: 'form-control' %>
    </div>


    <div class='form-group'>
      <%= label_tag :state, 'State *' %>
      <%= text_field_tag :address_state, nil, required: true, class: 'form-control'  %>
    </div>

    <div class='form-group'>
      <%= label_tag :postal_code, 'Postal Code *' %>
      <%= text_field_tag(:address_postal_code, nil, required: true, class: 'form-control') %>
    </div>

    <div class='form-group'>
      <%= label_tag :date_of_birth, 'Date of birth *' %>
      <%= text_field_tag :birth_date, nil, required: true, readonly: true, placeholder: 'dd/mm/yyyy', class: 'dob custom-dob' %>
    </div>

    <div class='form-group'>
      <%= label_tag :account_number, 'Account name *' %>
      <%= text_field_tag(:bank_holder_name, nil, required: true, class: 'form-control') %>
    </div>
    <div class='form-group'>
      <%= label_tag :account_number, 'Account Number *' %>
      <%= text_field_tag(:bank_account_number, nil, required: true, class: 'form-control') %>
    </div>

    <div class='form-group'>
      <%= label_tag :routing_number, 'Rounting Number *' %>
      <%= text_field_tag(:bank_routing_number, nil, required: true, class: 'form-control') %>
    </div>

    <div class='form-group'>
      <%= label_tag :verification_file, 'Verification File *' %>
      <%= file_field_tag 'stripe_verification_file', required: true, accept: 'image/png,image/gif,image/jpeg' %>
    </div>

    <%= submit_tag "Submit", class: "btn btn-large btn-primary" %>
  <% end %>
</div>