<div>
  <div class="new_image_hero">
    <div class="new_image_hero_image"></div>
    <div class="new_image_hero_content">
      <div class="custom_content_width_constraint">
        <div class="new_partner_page_hero">
          <div class="new_partner_page_hero_messaging">
            <h1 class="new_partner_page_hero_messaging_head">Dreaming about opening your own preschool or child care&nbsp;program?</h1>
            <h2 class="new_partner_page_hero_messaging_subhead">We want to hear all about&nbsp;it.</h2>
          </div>
          <div class="new_partner_page_hero_cta">
            <div class="new_partner_page_hero_cta_form">
              <h3 class="new_partner_page_hero_cta_head">Schedule a free 15 minute chat with our team to discuss your vision!</h3>
              <div class="new_prospect_capture_form">
                <%= simple_form_for(@teacher) do |f| %>
                  <div class="new_prospect_capture_form_form_control">
                    <div class="new_text_input">
                      <%= f.text_field :name, :placeholder => "Name", class: 'form-control new_text_input_control', required: true %>
                    </div>
                  </div>
                  <div class="new_prospect_capture_form_form_control">
                    <div class="new_text_input">
                      <%= f.email_field :email, :placeholder => "Email", class: 'form-control new_text_input_control', required: true %>
                    </div>
                  </div>
                  <div class="new_prospect_capture_form_form_control">
                    <div class="new_text_input">
                      <%= f.text_field :telephone_no, :placeholder => "Telephone Number", class: 'form-control new_text_input_control', required: true %>
                    </div>
                  </div>
                  <div class="new_prospect_capture_form_form_control">
                    <div class="new_text_input">
                      <%= f.text_field :postal_code, :placeholder => "Postal Code", class: 'form-control new_text_input_control', required: true %>
                    </div>
                  </div>
                  <div class="new_prospect_capture_form_form_control">
                    <div class="P">
                      <%= f.submit 'Submit', class: "button button_full button__large button_arrow" %>
                    </div>
                  </div>
                  <div class="P">
                    <span class="new_colored_text new_colored_text__gray">
                      <span class="small_text">By performing this action, you agree to our <a class="new-link" target="_blank" href="/terms-of-use">Terms&nbsp;of&nbsp;Use</a> and <a class="new-link" target="_blank" href="/privacy-policy">Privacy&nbsp;Policy</a>.
                      </span>
                    </span>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="new_partner_page_section new_partner_page_section__white">
    <div class="custom_content_width_constraint">
      <h3 class="new_partner_page_section_head">Why start your own Dreamschool? </h3>
      <div class="new_partner_page_why_grid">
        <div class="new_partner_page_why_grid_cell">
          <!-- <div class="new_partner_page_why_grid_image">
            <img src="https://www.wonderschool.com/images/partner/apple.svg" role="presentation">
          </div> -->
          <div class="new_partner_page_why_grid_content">
            <div class="new_partner_page_section_subhead">1. Focus your time on what you love most</div>
            It can be daunting and scary to start your own business. So we take care of all the business stuff, so you can focus on what you love most – delivering child care!
          </div>
        </div>
        <div class="new_partner_page_why_grid_cell">
          <!-- <div class="new_partner_page_why_grid_image">
            <img src="https://www.wonderschool.com/images/partner/money.svg" role="presentation">
          </div> -->
          <div class="new_partner_page_why_grid_content">
            <div class="new_partner_page_section_subhead">2. You join the Dreamschool network </div>
            Get all the support you need to start and manage your own child care centre –stress-free! Use our program model and use our online platform that helps fill spots quickly.
          </div>
        </div>
        <div class="new_partner_page_why_grid_cell">
          <!-- <div class="new_partner_page_why_grid_image">
            <img src="https://www.wonderschool.com/images/partner/clock.svg" role="presentation">
          </div> -->
          <div class="new_partner_page_why_grid_content">
            <div class="new_partner_page_section_subhead">3. Make more money</div>
            You can earn more money than in traditional childcare centres – up to 50% more than the average child care centre in Toronto.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="new_partner_page_section">
    <div class="custom_content_width_constraint">
      <h3 class="new_partner_page_section_head">Why partner with Dreamschool?</h3>
      <div class="new_partner_page_section_narrow">
        <div class="new_partner_page_how_grid">
          <!-- <div class="new_partner_page_how_grid_image">
            <img src="https://www.wonderschool.com/images/partner/licensing.svg" role="presentation">
          </div> -->
          <div class="new_partner_page_how_grid_content">
            <!-- <div class="new_partner_page_section_subhead">Step-by-step licensing and launch support</div> -->
            <ol class="new_partner_page_how_grid_list">
              <li> 1-on-1 launch and licensing support</li>
              <li> Effective approach and platform to fill and manage your care centre</li>
              <li> Easy-to-use online bill and management tools</li>
              <li> Connect to the Dreamschool Network</li>
            </ol>
            For more information, see “how it works”.
          </div>
        </div>
       <!--  <div class="new_partner_page_how_grid">
          <div class="new_partner_page_how_grid_image">
            <img src="https://www.wonderschool.com/images/partner/fill-program.svg" role="presentation">
          </div>
          <div class="new_partner_page_how_grid_content">
            <div class="new_partner_page_section_subhead">Proven strategies to fill your program</div>
            <ul class="new_partner_page_how_grid_list">
              <li>Access to our network of thousands of families</li>
              <li>A free, beautiful website optimized for parent discovery</li>
              <li>Tutorials on hosting effective open houses and tours</li>
              <li>Data-driven guidance to fill openings</li>
            </ul>
          </div>
        </div>-->
        <!-- <div class="new_partner_page_how_grid">
          <div class="new_partner_page_how_grid_image">
            <img src="https://www.wonderschool.com/images/partner/online-billing.svg" role="presentation">
          </div>
          <div class="new_partner_page_how_grid_content">
            <div class="new_partner_page_section_subhead">Online billing and management tools</div>
            <ul class="new_partner_page_how_grid_list">
              <li>Automatic monthly tuition billing</li>
              <li>Easy collection of drop-in and late fees</li>
              <li>Enrollment and paperwork management</li>
              <li>Support collecting past-due payments</li>
            </ul>
          </div>
        </div> -->
        <!-- <div class="new_partner_page_how_grid">
          <div class="new_partner_page_how_grid_image">
            <img src="https://www.wonderschool.com/images/partner/connection.svg" role="presentation">
          </div>
          <div class="new_partner_page_how_grid_content">
            <div class="new_partner_page_section_subhead">Connection to a strong network of allies</div>
            <ul class="new_partner_page_how_grid_list">
              <li>100+ providers across the country</li>
              <li>Free professional development courses</li>
              <li>Ongoing support from expert mentors to deal with challenging child behavior or parent communication</li>
              <li>Advice and guidance as your program evolves and grows</li>
            </ul>
          </div>
        </div> -->
      </div>
    </div>
  </div>
 <!--  <div class="new_partner_page_section new_partner_page_section__white">
    <div class="custom_content_width_constraint">
      <h3 class="new_partner_page_section_head">What tools do we use?</h3>
      <div class="custom_grid Grid--WideGutters grid__full">
        <div class="Grid-cell">
          <div class="new_partner_page_what_grid_image">
            <img src="https://www.wonderschool.com/images/partner/what-online-tools.jpg" width="100%" role="presentation">
          </div>
          <div class="new_partner_page_section_subhead">
            <div class="new_aligned_text new_aligned_text__center">Powerful online platform</div>
          </div>
          Our online platform guides you through licensing, marketing, tours, payments, daily operations, and everything in between. It allows you to manage your students, parents, and program from one dashboard.
        </div>
        <div class="Grid-cell">
          <div class="new_partner_page_what_grid_image">
            <img src="https://www.wonderschool.com/images/partner/what-1-on-1-support.jpg" width="100%" role="presentation">
          </div>
          <div class="new_partner_page_section_subhead">
            <div class="new_aligned_text new_aligned_text__center">1-on-1 support</div>
          </div>
          Our team of educators, mentors, and business coaches provide guidance and support along your journey in starting or operating your own program.
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="new_partner_page_section">
    <div class="custom_content_width_constraint">
      <h3 id="PartnerPage-video" class="new_partner_page_section_head">Meet our partners</h3>
      <div class="custom_grid Grid--wideGutters grid__full ">
        <div class="Grid-cell">
          <div class="P">
            <div class="custom_grid grid__align_items_center grid__skinnygutters">
              <div class="Grid-cell grid_cell__flexnone">
                <img class="new_partner_page_video_headshot" src="https://www.wonderschool.com/images/partner/director-littlenest.jpg" role="presentation">
              </div>
              <div class="Grid-cell">
                <div class="H5 ">Theresa Marino</div>
                  <a class="new-link" href="/littlenest">Little Nest Learning Space</a>
              </div>
            </div>
          </div>
          <div class="P">“Knowing that I can rely on Dreamschools’s technical and business expertise gives me the ease and freedom to focus on my students.”</div>
          <div class="P">
            <a href="#PartnerPage-video" class="new_partner_page_video_button">View Video
              <div class="new_partner_page_video_button_play"></div>
            </a>
          </div>
        </div>
        <div class="Grid-cell">
          <div class="P">
            <div class="custom_grid grid__align_items_center grid__skinnygutters">
              <div class="Grid-cell  grid_cell__flexnone">
                <img class="new_partner_page_video_headshot" src="https://www.wonderschool.com/images/partner/director-openminds.jpg" role="presentation">
              </div>
              <div class="Grid-cell">
                <div class="H5 ">Karen Hernandez</div>
                <a class="new-link" href="/openminds">Open Minds Early School</a>
              </div>
            </div>
          </div>
          <div class="P">“Dreamschools provided guidance around marketing efforts, and most importantly gave us a platform to manage parents’ screening, tours, on-boarding and payments.”</div>
          <div class="P">
            <a href="#PartnerPage-video" class="new_partner_page_video_button">View Video
              <div class="new_partner_page_video_button_play"></div>
            </a>
          </div>
        </div>
        <div class="Grid-cell">
          <div class="P">
            <div class="custom_grid grid__align_items_center grid__skinnygutters">
              <div class="Grid-cell  grid_cell__flexnone">
                <img class="new_partner_page_video_headshot" src="https://www.wonderschool.com/images/partner/director-littleseedlings.jpg" role="presentation">
              </div>
              <div class="Grid-cell">
                <div class="H5 ">Sherie Cigar James</div>
                  <a class="new-link" href="/littleseedlings">Little Seedlings Preschool</a>
              </div>
            </div>
          </div>
          <div class="P">“Dreamschools helped me turn my house into a school environment, set prices, and make my program marketable. They support me as I balance helping my community and running a business.”</div>
          <div class="P">
            <a href="#PartnerPage-video" class="new_partner_page_video_button">
              View Video
              <div class="new_partner_page_video_button_play"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="new_partner_page_section new_partner_page_section__blue">
    <div class="custom_content_width_constraint">
      <h3 class="new_partner_page_section_head">Get in touch to explore your dreams! </h3>
      <div class="new_aligned_text new_aligned_text__center">
        <div class="new_partner_page_section_narrow">
          <p>Do you enjoy working with children? Do you want to work for yourself and own your own child care centre? Do you live in Toronto or its surrounding area? Let’s talk about it!</p>
          <p>Schedule an appointment to meet our team today!</p>
          <p>By performing this action, you agree to your Terms of Use and Privacy Policy. </p>

          <!-- <div class="new_partner_page_bottom_cta_form">
            <div class="new_prospect_capture_form">
              <%= simple_form_for(@teacher) do |f| %>
                <div class="new_prospect_capture_form_form_control">
                  <div class="new_text_input new_text_input__white">
                    <%= f.text_field :name, :placeholder => "Name", class: 'form-control new_text_input_control', required: true %>
                  </div>
                </div>
                <div class="new_prospect_capture_form_form_control">
                  <div class="new_text_input new_text_input__white">
                    <%= f.email_field :email, :placeholder => "Email", class: 'form-control new_text_input_control', required: true %>
                  </div>
                </div>
                <div class="new_prospect_capture_form_form_control">
                  <div class="new_text_input new_text_input__white">
                    <%= f.text_field :telephone_no, :placeholder => "Telephone Number", class: 'form-control new_text_input_control', required: true %>
                  </div>
                </div>
                <div class="new_prospect_capture_form_form_control">
                  <div class="new_text_input new_text_input__white">
                    <%= f.text_field :postal_code, :placeholder => "Postal Code", class: 'form-control new_text_input_control', required: true %>
                  </div>
                </div>
                <div class="new_prospect_capture_form_form_control">
                  <div class="P">
                    <%= f.submit 'Submit', class: "button button_full button__large button_arrow  button__white" %>
                  </div>
                  <div class="P">
                    <div class="Ttos_agree_light">
                      <span class="colored_text colored_text_white">
                        <span class="small_text">By performing this action, you agree to our <a class="new-link" target="_blank" href="/terms-of-use">
                          <span class="colored_text colored_text_white"><span class="underlined_text">Terms&nbsp;of&nbsp;Use</span></span></a> and <a class="Link " target="_blank" href="/privacy-policy"><span class="colored_text colored_text_white"><span class="underlined_text">Privacy&nbsp;Policy</span></span></a>.
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
