<div>
  <div class="new_image_hero">
    <div class="new_image_hero_image"></div>
    <div class="new_image_hero_content">
      <div class="custom_content_width_constraint">
        <div class="new_partner_page_hero">
          <div class="new_partner_page_hero_messaging">
            <h1 class="new_partner_page_hero_messaging_head">Dreaming about opening your own preschool or child care&nbsp;program?</h1>
            <h2 class="new_partner_page_hero_messaging_subhead">We want to hear all about&nbsp;it.</h2>
          </div>
          <div class="new_partner_page_hero_cta">
            <div class="new_partner_page_hero_cta_form">
              <h3 class="new_partner_page_hero_cta_head">Schedule a free 15 minute chat with our team to discuss your vision!</h3>
              <div class="new_prospect_capture_form">
                <%= simple_form_for(@teacher) do |f| %>
                  <div class="new_prospect_capture_form_form_control">
                    <div class="new_text_input">
                      <%= f.text_field :name, :placeholder => "Name", class: 'form-control new_text_input_control', required: true %>
                    </div>
                  </div>
                  <div class="new_prospect_capture_form_form_control">
                    <div class="new_text_input">
                      <%= f.email_field :email, :placeholder => "Email", class: 'form-control new_text_input_control', required: true %>
                    </div>
                  </div>
                  <div class="new_prospect_capture_form_form_control">
                    <div class="new_text_input">
                      <%= f.text_field :telephone_no, :placeholder => "Telephone Number", class: 'form-control new_text_input_control', required: true %>
                    </div>
                  </div>
                  <div class="new_prospect_capture_form_form_control">
                    <div class="new_text_input">
                      <%= f.text_field :postal_code, :placeholder => "Postal Code", class: 'form-control new_text_input_control', required: true %>
                    </div>
                  </div>
                  <div class="new_prospect_capture_form_form_control">
                    <div class="P">
                      <%= f.submit 'Submit', class: "button button_full button__large button_arrow" %>
                    </div>
                  </div>
                  <div class="P">
                    <span class="new_colored_text new_colored_text__gray">
                      <span class="small_text">By performing this action, you agree to our&nbsp;
                      <%= link_to ' Terms  of  use', terms_of_use_path, class: 'new-link', target: 'blank'%> &nbsp;and&nbsp;
                     <%= link_to 'Privacy Policy', privacy_policy_path, class: 'new-link', target: 'blank'%>
                      </span>
                    </span>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="new_partner_page_section new_partner_page_section__white">
    <div class="custom_content_width_constraint">
      <h3 class="new_partner_page_section_head">Why start your own Dreamschool? </h3>
      <div class="new_partner_page_why_grid">
        <div class="new_partner_page_why_grid_cell">
          <div class="new_partner_page_why_grid_content">
            <div class="new_partner_page_section_subhead">1. Focus your time on what you love most</div>
            It can be daunting and scary to start your own business. So we take care of all the business stuff, so you can focus on what you love most – delivering child care!
          </div>
        </div>
        <div class="new_partner_page_why_grid_cell">
          <div class="new_partner_page_why_grid_content">
            <div class="new_partner_page_section_subhead">2. You join the Dreamschool network </div>
            Get all the support you need to start and manage your own child care centre –stress-free! Use our program model and use our online platform that helps fill spots quickly.
          </div>
        </div>
        <div class="new_partner_page_why_grid_cell">
          <div class="new_partner_page_why_grid_content">
            <div class="new_partner_page_section_subhead">3. Make more money</div>
            You can earn more money than in traditional childcare centres – up to 50% more than the average child care centre in Toronto.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="new_partner_page_section">
    <div class="custom_content_width_constraint">
      <h3 class="new_partner_page_section_head">Why partner with Dreamschool?</h3>
      <div class="new_partner_page_section_narrow">
        <div class="new_partner_page_how_grid">
          <div class="new_partner_page_how_grid_content">
            <ol class="new_partner_page_how_grid_list">
              <li> 1-on-1 launch and licensing support</li>
              <li> Effective approach and platform to fill and manage your care centre</li>
              <li> Easy-to-use online bill and management tools</li>
              <li> Connect to the Dreamschool Network</li>
            </ol>
          <div class="new-patner-para">
           <p> For more information, see “how it works”.</p>
          </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="new_partner_page_section new_partner_page_section__blue">
    <div class="custom_content_width_constraint">
      <h3 class="new_partner_page_section_head">Get in touch to explore your dreams!  </h3>
      <div class="new_aligned_text new_aligned_text__center">
        <div class="new_partner_page_section_narrow">
          <div class="new_partner_page_bottom_cta_form">
            <div class="new_prospect_capture_form">
              <%= simple_form_for(@teacher) do |f| %>
                <div class="new_prospect_capture_form_form_control">
                  <div class="new_text_input new_text_input__white">
                    <%= f.text_field :name, :placeholder => "Name", class: 'form-control new_text_input_control', required: true %>
                  </div>
                </div>
                <div class="new_prospect_capture_form_form_control">
                  <div class="new_text_input new_text_input__white">
                    <%= f.email_field :email, :placeholder => "Email", class: 'form-control new_text_input_control', required: true %>
                  </div>
                </div>
                <div class="new_prospect_capture_form_form_control">
                  <div class="new_text_input new_text_input__white">
                    <%= f.text_field :telephone_no, :placeholder => "Telephone Number", class: 'form-control new_text_input_control', required: true %>
                  </div>
                </div>
                <div class="new_prospect_capture_form_form_control">
                  <div class="new_text_input new_text_input__white">
                    <%= f.text_field :postal_code, :placeholder => "Postal Code", class: 'form-control new_text_input_control', required: true %>
                  </div>
                </div>
                <div class="new_prospect_capture_form_form_control">
                  <div class="P">
                    <%= f.submit 'Submit', class: "button button_full button__large button_arrow  button__white" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="new_partner_page_section_narrow"><br>
          <p>Do you enjoy working with children? Do you want to work for yourself and own your own child care centre? Do you live in Toronto or its surrounding area? Let’s talk about it!</p>
          <p>Schedule an appointment to meet our team today!</p>
          <div class="P">
            <div class="Ttos_agree_light">
              <span class="colored_text colored_text_white">
              <span class="small_text">By performing this action, you agree to your  and <%= link_to ' Terms  of  use', terms_of_use_path, class: 'text_underline', target: 'blank'%> and
              <%= link_to 'Privacy Policy', privacy_policy_path, class: 'text_underline', target: 'blank'%>.
                </span>
              </span>
            </div>                    
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>


  <!-- <div class="new_partner_page_section new_partner_page_section__blue">
    <div class="custom_content_width_constraint">
      <h3 class="new_partner_page_section_head">Get in touch to explore your dreams! </h3>
      <div class="new_aligned_text new_aligned_text__center">
        <div class="new_partner_page_section_narrow">
          <p>Do you enjoy working with children? Do you want to work for yourself and own your own child care centre? Do you live in Toronto or its surrounding area? Let’s talk about it!</p>
          <p>Schedule an appointment to meet our team today!</p>
          <p>By performing this action, you agree to your Terms of Use and Privacy Policy. </p>
        </div>
      </div>
    </div>
  </div> -->
</div>
