<footer class="col-md-12 col-sm-12 col-xs-12 section_page_footer">
   <div class="custom_content_width_constraint">
      <div class="custom_grid Grid--full ">
         <div class="Grid-cell">
            <div>
               <div class="section_page_footer_link_list_title">Child Care Near You</div>
               <a class="new-link link_blend" href="#">Toronto, Ontario</a>
               <br>
               <a class="new-link link_blend" href="#">Calgary, Alberta</a>
               <!-- <br>
               <a class="new-link link_blend" href="#">Calgary</a>
               <br>
               <a class="new-link link_blend" href="#">Albert</a> -->
            </div>
         </div>
         <div class="Grid-cell">
            <div>
               <div class="section_page_footer_link_list_title">Follow Us</div>
               <a class="new-link link_blend" href="#" target="_blank">Blog</a>
               <br>
               <a class="new-link link_blend" href="#" target="_blank">Facebook</a>
            </div>
         </div>
         <div class="Grid-cell">
            <div>
               <div class="section_page_footer_link_list_title">Contact</div>
                <%= link_to 'Contact Us', contact_path, class: 'new-link link_blend'%>
               <br>
               <span>Address:
                <p>
                  Centre for Social Innovation<br>
                  585 Dundas St. East, Toronto
                </p>
               </span>
            </div>
         </div>
         <div class="Grid-cell">
            <div>
               <div class="section_page_footer_link_list_title">Dreamcare</div>
               <%=link_to 'About Us', about_path, class: 'new-link link_blend'%>
               <br>
               <%=link_to 'Jobs', 'javascript:void(0)', class: 'new-link link_blend'%>
               <br>
               <%=link_to 'FAQ', "https://onepreschool.zendesk.com/hc/en-us", class: 'new-link link_blend'%>
               <br>
               <%=link_to 'Terms of Use', terms_of_use_path, class: 'new-link link_blend'%>
               <br>
               <%=link_to 'Privacy Policy', privacy_policy_path, class: 'new-link link_blend'%>
            </div>
         </div>
         <div class="Grid-cell"><a class="new-link " href="<%=partner_path%>"><button class="button button_arrow  button_outline_blue" type="button">Partner with Dreamschools</button></a></div>
      </div>
   </div>
</footer>
