<header class="fixed-header">
  <nav class="navbar navbar-default custom-navbar" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to (image_tag('Dream_school_hd_logo.png', class: 'school-logo')), root_path %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <div class="col-sm-8 col-md-4">
        <%= form_tag search_path, id: 'search_form', method: :get do |f| %>
          <!-- <form class="" role="search"> -->
            <div class="input-group page_header_desktop_search_control">
            <%= text_field_tag :q, nil, placeholder: "Where are you looking for child care?", class: 'form-control page_header_desktop_search_input' %>
            <!-- <input type="text" class="form-control page_header_desktop_search_input" placeholder="Where are you looking for child care?" name="q"> -->
            <div class="input-group-btn">
              <button class="btn btn-default custom_page_header_desktop_search_submit_button" type="submit"><i class="glyphicon glyphicon-search submit-search-icon"></i></button>
            </div>
            </div>
        <% end %>
        <!-- </form> -->
      </div>
      <ul class="nav navbar-nav navbar-right custom-right-navbar">
        <%if current_user %>
          <% if current_user.parent? %>
            <li><%= link_to 'MY SCHOOLS',  school_parent_path(current_user), class:'nav-link' %>
            <!-- <a href="/partner" class="nav-link">MY SCHOOLS</a></li> -->
            <% if current_user.parent_profile.present? %>
              <li><%= link_to 'FAMILY PROFILE',  parent_profile_path(current_user.parent_profile&.id), class:'nav-link' %></li>
            <% else %>
              <li><%= link_to 'FAMILY PROFILE',  new_parent_profile_path, class:'nav-link' %></li>
            <% end %>
          <% else %>
            <li><%=link_to 'ABOUT', about_path, class: 'nav-link'%></li>
            <li><a href="<%=dashboard_path%>" class="nav-link">DASHBOARD</a></li>
          <% end %>
          <li><%= link_to 'SIGN OUT', destroy_user_session_path, method: :delete %></li>
        <%else%>
          <li><%=link_to 'ABOUT', about_path, class: 'nav-link'%></li>
          <li><a href="/partner" class="nav-link">START A DREAMSCHOOL</a></li>
          <li><%= link_to 'LOG IN', new_user_session_path %></li>
          <li><%= link_to 'SIGN UP', new_user_registration_path %></li>
        <%end%>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>

</header>
