<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a href="#">Dashboard</a>
    </li>
    <%if current_user.admin? %>
      <li class="<%=is_active_menu('index')%>">
        <%= link_to 'Teachers', admin_teachers_path %>
      </li>
      <li class="<%=is_active_menu('document')%> <%=is_active_menu('upload_document')%>">
        <%= link_to 'Curriculum PDF', document_admin_teachers_path %>
      </li>
      <li class="<%=is_active_menu('bank_account')%>" >
        <%= link_to 'Transaction Settings',  transaction_setting_admin_teachers_path %>
      </li>
      <li>
        <a href="#">Scheduling Availability</a>
      </li>
      <li>
        <a href="#"> Managing Enrollment pages</a>
      </li>
      <li>
        <%= link_to 'Parents Applications', admin_parents_path %>
      </li>
    <%elsif current_user.teacher? %>
      <li  class=" <%=is_active_menu('edit')%>">
        <%settings_path = current_user.teacher_profile ? edit_teacher_profile_path(current_user.teacher_profile) : new_teacher_profile_path%>
        <%= link_to 'Profile Details', settings_path %>
      </li>
      <li class="<%=is_active_menu('document')%>">
        <%= link_to 'Curriculum PDF', document_teachers_path %>
      </li>
      <li class="<%=is_active_menu('bank_account')%>" >
        <%= link_to 'Transaction Settings', bank_account_teacher_path(current_user) %>
      </li>
      <li class="<%=is_active_menu('availability')%>" >
        <%= link_to 'Scheduling Availability', availability_teacher_path(current_user) %>
      </li>
      <li class="<%=is_active_menu(' Managing Enrollment pages')%>">
        <%= link_to 'Managing Enrollment page', manage_enrollment_teachers_path %>
      </li>
      <li>
        <%= link_to 'Parents Applications', admin_parents_path %>
      </li>
      <!-- <li>
        <a href="#">Payments</a>
      </li> -->
    <%end%>
  </ul>
</div>
