<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a href="#">Dashboard</a>
    </li>
    <%if current_user.admin? %>
      <li class="<%=is_active_menu('index')%>">
        <%= link_to 'Teachers', admin_teachers_path %>
      </li>
      <li>
        <a href="#">Curriculum PDF</a>
      </li>
      <li>
        <a href="#">Transaction Settings</a>
      </li>
    <%elsif current_user.teacher? %>
      <li  class=" <%=is_active_menu('edit')%>">
        <%settings_path = current_user.teacher_profile ? edit_teacher_profile_path(current_user.teacher_profile) : new_teacher_profile_path%>
        <%= link_to 'Profile Settings', settings_path %>
      </li>
      <li class="<%=is_active_menu('availability')%>" >
        <%= link_to 'Setting of Availability', availability_teacher_path(current_user) %>
      </li>
      <li class="<%=is_active_menu('bank_account')%>" >
        <%= link_to 'Stripe Setting', bank_account_teacher_path(current_user) %>
      </li>
      <li>
        <a href="#">Enrollments</a>
      </li>
      <li>
        <a href="#">Calendar</a>
      </li>
      <li>
        <a href="#">Payments</a>
      </li>
    <%end%>
  </ul>
</div>
